[2013-10-31 11:20] b44rd opened #1 "Geolocation support"
Hi! First of all, great project!

Do you plan to extend this to include geolocation data as well? It would be really awesome if it also could be providing data from geonames.org, for instance.

Best regards, Baard

[2013-10-31 11:21] joellimberg opened #2 "/callingcode/1 return incorrect"
If there are several countries per phone code (such as "1"), only one of them is returned.

Eg. http://restcountries.eu/rest/callingcode/1

[2013-10-31 11:45] batuhan opened #3 "Different endpoints for country codes are unnecessary"
Hi, I think different endpoints for country codes are unnecessary.

Instead of having /rest/alpha2/ee and rest/alpha3/col, you should be able to decide which by looking at the character number in the string. ("ee" is two characters, it's alpha2, and col is 3, so it's alpha3)

Also, alpha{2|3} part is not that necessary either, if what comes after /rest/ is not {name|currency|callingcode|capital},

[2013-10-31 13:27] Jacksonville opened #7 "Currency and country error"
Hi guys,

Very impressive API, but it seems that you may have a bug in your process. if you search for 2 digit alpha za (http://restcountries.eu/rest/alpha2/za) the currency comes up as SOS(Should be ZAR)

If you search under currency then South Georgia comes up with ZAR, I suspect this is a mismatch. (http://restcountries.eu/rest/currency/zar)

Under calling code 44 only Guernsey is returned when

[2013-10-31 15:58] mdesantis opened #8 "Add country regions, provinces, cities and related infos"
It would be wonderful if it would be possible to retrieve regions, provinces and cities.

Something like:

[code]

Cities could have metadata like f.i. zip codes, which are very useful.

It is a huge work because recording and maintaining the whole list of regions, provinces and cities for every world country is hard, but it is a good target to be accomplished by an open source project.

[2013-10-31 16:13] heldtogether opened #9 "UK calling code 44 only returns Guernsey"
When searching for /name/united%20kingdom returns callingcode 44

[code]

but searching /callingcode/44 only returns

[code]

I think it's been assumed that the calling code is unique to one entity, but apparently it's not.

[2013-10-31 18:45] #2 closed, assigned to fayder

[2013-10-31 18:46] #9 closed, assigned to fayder

[2013-10-31 20:47] #7 closed, assigned to fayder

[2013-11-01 11:53] #3 closed, assigned to fayder

[2013-11-02 23:46] mledoze opened #11 "problem with accented characters"
http://restcountries.eu/rest/alpha/fo

here is an example where accented characters are not displayed correctly.

[2013-11-03 10:16] #11 closed, assigned to nobody

[2013-11-05 09:50] lipis opened #12 "This project is categorised wrongfully as CSS"
It's a kind of a silly issue of course but on the other hand I wouldn't find it.. but still!

Because of the two big CSS files this project is 87.4% CSS compare to the 10.9% Java which is actually what it's all about.. so just to improve a little bit that to give some credit to Java I think it's a good idea to remove at least the unminified version.. :)

I found it here and was wondering why this

[2013-11-05 14:20] #12 closed, assigned to fayder

[2013-11-21 11:14] #1 closed, assigned to fayder

[2013-12-07 13:19] oscerd opened #16 "First Example of country borders"
In my branch dev https://github.com/ancosen/restcountries/tree/dev , i've added my idea to get the neighboring countries of a specified nation..

I've added a list "borders" in countries.json entry. I've made these changes only from Afghanistan to Antigua.

I've used the CCA3 as key in the borders list, so I was thinking if it is possible for @mledoze to add the borders field in his project https:

[2014-08-04 16:45] #16 closed, assigned to nobody

[2014-12-12 13:25] bpiec opened #19 "Add currency list"
It would be great to have all currencies on one list, ie. /rest/v1/currencies.

[2014-12-21 16:27] #19 closed, assigned to fayder

[2015-06-01 14:28] theboyWhoCriedWoolf opened #20 "latlng seems to truncate values which produce wrong locations"
When using the API even in the "Try it yourself" section on the site, the latlng provides truncated results that wen used are wrong.

[2015-06-03 08:37] fayder commented on #20
Hey there. Could you please give me an example of a wrong "latlng" value?

[2015-06-05 21:08] hkdobrev opened #21 "Provide a way to reduce output"
It would be great to be able to pass a parameter to limit the fields provided in the response.

For example:

[code]

The `?fields=name,capital,currencies` way of listing fields is very similar of the modern way the Facebook API does things. If you want to go the canonical way you could use something like this:

[code]

In both cases it would greatly reduce the output to only what's needed for the

[2015-06-06 09:29] fayder commented on #21
Hello!

Thank you very much for your donation, it really helps.

This feature that you are suggesting it's in the plans but I haven't had enough time to start dealing with it, and with other planned new features.

I'm currently spending most of my time in another project, but I'll start working again on REST Countries by the end of July. When this feature, partly or complete, is implemented I will

[2015-11-02 09:33] geoand opened #22 "Port to Spring Boot"
Hello,

First of all I must say this is an awesome project that is extremely useful!

I created of fork of the project (see [here](https://github.com/geoand/restcountries)) where I have replaced JBoss Rest Easy with Spring Boot.
Feel free to use any parts of the code if you like them or ask me any questions you might have.
Of course I could issue a PR to your project, perhaps in some branch other

[2015-11-03 07:35] fayder commented on #22
Kudos! Thanks for your nice comments. I think it's great that you made a spring-boot version of it =) I'll take a look at your project.

[2015-11-03 07:35] #20 closed

[2015-11-03 07:55] geoand commented on #22
Feel free to ask me anything that isn't clear about the project.

Congrats again for a great API!

[2016-05-31 08:26] olimortimer opened #24 "EU"
It would be nice to be able to query for EU countries / if a country is within the EU, as this can be useful to determine shipping / VAT etc.

https://en.wikipedia.org/wiki/Member_state_of_the_European_Union

[2016-05-31 13:36] fayder commented on #24
Surely @olimortimer Will put it on the list of to-do's for upcoming versions. Thanks for your comment

[2016-05-31 13:36] #24 closed

[2016-06-06 15:25] aliwright75 opened #25 "Search by demonym"
Hi there,

Just came across this fantastic resource! I was looking for a solution where I am using another API which instead of country of origin, it only returns their nationality. I was hoping to find something where I could supply the nationality (demonym) and I could then find out the country. Are there any plans to make this available?

Thanks!

[2016-06-09 13:44] fayder commented on #25
Hey there. I had not thought about it. I will write this down and keep this open. When I implement it I will let you know by this same channel. Thanks for your comment.

[2016-06-22 09:57] mahmooddagga commented on #21
+1

[2016-07-26 08:11] ruffiem commented on #21
Want someone to do it ?

[2016-07-27 07:44] fayder commented on #21
@ruffiem Already working on it :)

[2016-08-15 09:51] joostvz opened #28 "Missing ISO countries"
Hi,

Great API!

I'm only missing 3 ISO countries: _Antarctica_, _Holy See_ and _Virgin Islands, U.S._. For some countries, I also see a different name than the ISO name. For example: _Vietnam_ (API) vs _Viet Nam_ (ISO). Is this done on purpose, or should these names also be updated?

Regards,
Joost

[2016-08-23 05:44] fayder commented on #28
Hello!
I think we can add these countries and try to have ISO names for all of them. Will you do it or you'll wait for me to do it?

[2016-09-11 07:46] fayder commented on #28
I have added these territories now.

[2016-09-11 07:46] #28 closed

[2016-09-11 07:47] #22 closed

[2016-09-11 07:49] fayder opened #29 "Provide a formal list for countries name, alpha2 code, alpha3 code and numeric code"
I will take the list here to decided which territories to include: https://en.wikipedia.org/wiki/ISO_3166-1

[2016-09-11 07:53] fayder opened #30 "Add flags"
Provide the flag for each country. Probably with a link to an external source like this one: http://flag-icon-css.lip.is/

[2016-09-11 08:02] fayder opened #31 "Update and improve Wiki"
Provide a better and more descriptive documentation for the API

[2016-09-18 11:11] #29 closed

[2016-09-18 11:12] fayder commented on #25
@aliwright75 This feature has been added and will go live soon as part of version 2

[2016-09-18 11:12] #25 closed

[2016-09-21 19:47] dylanpyle opened #32 "Public API extremely slow / inaccessible"
API requests seem to be somewhere between "extremely slow" and "totally inaccessible".  This one took about 54 seconds:

[code]

[2016-09-28 13:20] ejpersson commented on #32
Seeing the same issue now. `https://restcountries.eu/rest/v1/all` is not loading at all.

[2016-09-28 13:39] fayder commented on #32
Hello guys. I'm aware of this issue. I contacted my server provider and apparently there's a "Electrical maintenance" going on. I'll take further steps so that this wont happen again in the future. I'm very sorry for this.

[2016-09-28 16:02] fayder commented on #32
As you may have noticed, the service is back! I'm sorry for the downtime!

[2016-09-28 16:02] #32 closed

[2016-10-02 15:04] fayder commented on #21
Wow it took me more than 1 year to finally do this. It wasn't difficult, just didn't have the time :-/
Altho version 2 hasn't been formally released, it's already available by just using /v2 instead of v1. Bear in mind that the data structure has changed a bit. For example, try:

[code]

[2016-10-02 15:04] #21 closed

[2016-10-02 19:48] fayder opened #33 "Missing timezones"
Many countries are missing their timezones:

Åland Islands
American Samoa
Anguilla
Aruba
Bermuda
Bonaire, Sint Eustatius and Saba
British Indian Ocean Territory
United States Minor Outlying Islands
Cayman Islands
Christmas Island
Cocos (Keeling) Islands
Cook Islands
Falkland Islands (Malvinas)
Faroe Islands
French Guiana
French Polynesia
Gambia
Georgia
Gibraltar
Greenland
Guadeloupe
Guam
Guernsey

[2016-10-04 21:44] delmicio opened #34 "Negative timezones using diferrent dash/hyphen character"
You can see this problem calling all countrys.
'Argentina' is using **U+2212 : MINUS SIGN**

[code]

'Honduras' is using **U+002D : HYPHEN-MINUS {hyphen or minus sign}**

[code]

[2016-10-06 06:55] fayder opened #35 "Add Portugese to translations"
[code]

[2016-10-06 06:59] fayder commented on #30
Hi @Tjoosten. Why you don't like the idea?

[2016-10-09 15:17] fayder commented on #34
@delmicio Timezones have been improved now. I'm keeping this open because I still need to do the work for RESTCountries v2

[2016-10-11 14:54] delmicio commented on #34
just for the record now all times are using **U+002D** : HYPHEN-MINUS {hyphen or minus sign}

[2016-10-13 13:30] RubenNL opened #36 "status response"
If there are no errors, could you send a 'status' key with 'OK' or something? it would help me much..

[2016-10-14 09:45] fayder commented on #36
Hi @RubenNL If there are no errors, then the HTTP Status code is 200. This is not enough for you?

[2016-10-24 07:39] fayder commented on #36
In that case I would rather send 400 (Bad request) because the error is on the client side.

[2016-11-02 10:53] fayder commented on #34
Fixed for v2. Thanks @delmicio

[2016-11-02 10:53] #34 closed

[2016-11-02 10:53] fayder commented on #33
Fixed

[2016-11-02 10:53] #33 closed

[2016-11-15 10:15] wzup opened #37 "Does the API includes cities?"
Can't understand if there are cities as well.
Don't you know by chance where may I find either downloadable or as API a "**country => all its cities**" data?

[2016-11-17 12:28] fayder commented on #37
Hi @wzup There are no cities included in RESTCountries at the moment. I'm sorry to say that I'm not aware of a downloadable or API provides this information. One would think that there must be one out there :)

[2016-11-17 12:28] #37 closed

[2016-11-18 21:49] hkdobrev commented on #21
I'm sorry for spamming an old thread, but just wanted to thank you @fayder for working on this and completing it! Thank you for your work! ❤️

[2016-12-09 14:11] rusosnith opened #38 "Continents / subregions are wrong in many cases"
I've found the region "americas" to have a lot's of foraigner countries inside (UK for example)

is there a way to report this in a per country basis?

[2016-12-09 15:42] fayder commented on #38
Hi @rusosnith You could just write the list of countries with wrong region/subregion right here. In the case of "Americas" and "UK" when you request `/rest/v1/region/americas`, the country "United Kingdom" doesn't appear on the list.

[2016-12-15 14:44] fayder commented on #38
Hi @rusosnith Do you still see an issue or can we close this?

[2016-12-20 19:52] Rolos opened #39 "There are only 196 countries in the world"
Hi, Why does the **all** endpoint returns 250 countries, when almost all sources state that there are between 195 and 196 countries in the world?

[2016-12-28 10:14] fayder commented on #39
Hi! It's not only countries but also territories. I take the list from here: https://en.wikipedia.org/wiki/ISO_3166-1#Current_codes

[2016-12-29 00:13] Rolos commented on #39
Ah ahora entiendo, gracias hermano!

[2017-01-04 23:48] davividal commented on #35
Portugal or Brazil? I would gladly help to translate to Brazilian Portuguese.
Also, what about translate the demonym?

[2017-01-05 08:52] mledoze commented on #35
@davividal the demonym will be translated in here https://github.com/mledoze/countries/issues/165
you're welcome to contribute :)

[2017-01-19 23:47] jhenaoz opened #40 "Define the api using some api definition language"
There are several options, raml or swagger are the most used ones, personally,  I prefer raml definitions, they can import the definitions in postman and other rest clients.

[2017-01-22 11:34] #39 closed

[2017-01-22 11:35] fayder commented on #40
Hello there! I'm planning to improve the documentation. I was thinking to go fo something simple like http://ricostacruz.com/flatdoc/ but I will take a look at raml. Thanks!

[2017-01-22 11:36] #38 closed

[2017-02-28 01:49] thiagokoelho commented on #35
@fayder  I'm Brazilian, I suggest use two different Portuguese languages, one for Portugal and another for Brazil, example:

`"translations": {
      "br": "Holanda",
      "de": "Niederlande",
      "es": "Países Bajos",
      "fr": "Pays-Bas",
      "ja": "オランダ",
      "it": "Paesi Bassi",
      "pt": "Países Baixos"
    }`

Could I help you?

[2017-02-28 06:52] fayder commented on #35
Hi! Of course you can help! You can fork the master branch, make the changes in the json file (countriesV2.json) by adding the portuguese translations and make a Pull Request :) Then I take care of the rest

[2017-03-05 10:33] fayder commented on #35
Done. Thanks @thiagokoelho

[2017-03-05 10:33] #35 closed

[2017-03-06 12:01] AlMel3000 opened #42 "Mistakes in ISO country codes"
Hello!
In your service japan defined as "ja" whereas it's ISO is 'jp"

[2017-03-10 12:07] Dimitrees opened #43 "Search results shown in a better way."
Are you planning of making a panel-like feature to present each country's info? Perhaps using HTML and extracting the information from JSON.

[2017-03-12 10:39] fayder commented on #42
Hello @AlMel3000.
Do you mean the code for "Japanese" in the field "languages"? If so, "ja" is the correct ISO 639-1 code for it

[2017-03-12 10:48] #31 closed

[2017-03-12 10:48] #36 closed

[2017-03-12 10:51] fayder commented on #43
Hi @Dimitrees That's not in my plans, but if you have the skills you can do it :)

[2017-03-12 10:51] #43 closed

[2017-03-14 10:09] mledoze commented on #43
@Dimitrees I think this is what you are looking for: http://countries.petethompson.net/

[2017-03-16 11:41] io-ma opened #44 "Oman - Romania"
When calling  the https://restcountries.eu/rest/v2/name/{name} API, I get an error on Oman. The json response I get looks like this:
`[{"name":"Oman","topLevelDomain":[".om"],"alpha2Code":"OM","alpha3Code":"OMN","callingCodes":["968"],"capital":"Muscat","altSpellings":["OM","Sultanate of Oman","Salṭanat ʻUmān"],"region":"Asia","population":4420133,"latlng":[21.0,57.0],"demonym":"Omani","area":3095

[2017-03-17 06:47] fayder commented on #44
Hello @io-ma

I think you should use the "fullText" query parameter. Try this:
https://restcountries.eu/rest/v2/name/oman?fullText=true

If you don't use 'fullText' it will match any country with "oman" in its name, that's why you also get "R**oman**ia"

Hope that makes sense

[2017-03-17 08:08] io-ma commented on #44
Ok, thank you :-)
Yes, it makes sense.

[2017-03-17 08:08] #44 closed

[2017-03-17 11:17] Dimitrees commented on #43
Yes, this is what I was thinking of. @fayder  Do you consider integrating this website to your project, or would you like to create a new one? I am asking because I am thinking of building a similar kind of work.

[2017-03-18 14:09] fayder commented on #43
I can add a reference to it for sure

[2017-03-18 17:18] fayder commented on #30
Flash has been added.
For example: `"flag":"https://restcountries.eu/data/col.svg"`

[2017-03-18 17:19] #30 closed

[2017-03-18 17:19] #42 closed

[2017-03-21 15:10] petruavram opened #46 "Kosovo flag missing"
Apparently the SVG is available on [Wikimedia Commons](https://commons.wikimedia.org/wiki/File:Flag_of_Kosovo.svg) but I don't know enough about this project make a PR myself with this file.

[2017-03-22 06:09] fayder commented on #46
Hello @petruavram Thank you for noticing. I will try to fix it soon.

[2017-03-22 06:19] fayder commented on #46
Fixed now

[2017-03-22 06:19] #46 closed

[2017-03-22 10:41] roddydairion opened #47 "CORS issue"
When connecting to the API using Ajax I get the following error message
`XMLHttpRequest cannot load https://restcountries.eu/rest/v2/name/m. Request header field Content-Type is not allowed by Access-Control-Allow-Headers in preflight response.`

It seems that the API needs to have CORS headers enabled.

[2017-04-11 13:10] fayder opened #48 "Add IOC country codes"
https://en.wikipedia.org/wiki/List_of_IOC_country_codes

[2017-04-14 12:16] fayder commented on #47
Hello @roddydairion I'm sorry for the delayed answer. Did you manage to solve your issue? If not, can you please specify how are you making the Ajax request?

[2017-04-19 09:40] vdvoo7 opened #49 "getting connection refused error"
aught unhandled exception: java.lang.RuntimeException: org.apache.http.conn.HttpHostConnectException: Connect to restcountries.eu:443 [restcountries.eu/163.172.88.204] failed: Connection refused: connect

[2017-05-10 07:51] #49 closed

[2017-05-10 07:51] #47 closed

[2017-05-14 06:51] princeofnaxos opened #50 "How to get more translations?"
Is the list of translations configurable?

[2017-05-14 06:59] fayder commented on #50
Hey. It's possible to get more translations by simply adding them to the source file restcountries/src/main/resources/countriesV2.json

[2017-05-14 07:16] princeofnaxos commented on #50
I mean in the output, e.g. https://restcountries.eu/rest/v2/name/holland?translations=[sv,fr,de]

[2017-05-14 16:43] fayder commented on #50
Ah OK. This is not available at the moment but thanks for the suggestion

[2017-05-14 16:51] thytanium opened #51 "Incorrect time zone for Venezuela"
Hello, I was using your API today and I noticed an incorrect time zone for Venezuela.

It shows: UTC-4:30
It should be: UTC-4

I know this because I live in Venezuela, but you can also check this link: https://www.timeanddate.com/news/time/venezuela-change-timezone.html

[2017-05-14 17:26] fayder commented on #51
This has been corrected now. Thanks.

[2017-05-14 17:26] #51 closed

[2017-05-16 08:35] princeofnaxos commented on #50
I wish to express my hope that this will be added in the short future. The current list of translations is just not sufficient for European users.

So, either extend the list of translations (which might make the API slower?), or make the list definable (as I suggested).

Thanks!

[2017-05-16 08:39] princeofnaxos opened #52 "Add status information also at success"
Momentarily, the response shows 'status: 404' when emtpy. I would like to see 'status: 200' at successful query as well.

[2017-05-16 17:30] fayder commented on #52
The JSON response content is purely informative, you should rely on the HTTP response codes, which are 404 for Not Found and 200 for successful request

[2017-05-16 17:30] #52 closed

[2017-05-17 11:19] princeofnaxos commented on #52
Ok, got that. Maybe this should be mentioned in the documentation?

[2017-05-17 11:41] princeofnaxos opened #53 "FR for some more information"
Would it be possible to get information about the following:

- country is a member of EU (https://en.wikipedia.org/wiki/Member_state_of_the_European_Union), EEA (https://en.wikipedia.org/wiki/European_Economic_Area), EFTA (https://en.wikipedia.org/wiki/European_Free_Trade_Association)

- country is SEPA member (https://en.wikipedia.org/wiki/Single_Euro_Payments_Area)

[2017-05-17 19:02] fayder commented on #53
Hey there. There's data about EU and EFTA as "regional trade blocs" as explained here: https://restcountries.eu/#api-endpoints-regional-bloc

Of course the list of "regional blocs" can still be improved

[2017-05-17 19:03] fayder commented on #50
I'll keep this thread open to remind myself about it, but anyone is welcome to contribute to the project thru a Pull Request or Donation :)

[2017-05-17 19:04] fayder commented on #52
Sure, I'll add it to the list of to-do's. Thanks

[2017-05-17 19:54] princeofnaxos commented on #53
Aha, I didn't interpret the regional blocs that way. Just thought it
said that Sweden is in Europe. Think I didn't read right.

On 2017-05-17 21:02, Fayder Florez wrote:

[2017-06-01 21:08] AnkitTailoredTech opened #54 "Pagination can also be added."
Just in case I don't wish to fetch all the countries in one go. I can set offset and limit to fetch the data. So that if user scrolls up more and is interested to see the list of countries it keeps on fetching the certain bunch of countries.

[2017-06-02 09:08] fayder commented on #54
Noted :)

[2017-06-02 09:08] #53 closed

[2017-06-12 11:57] MichelZ opened #55 "Ordering"
Would be cool if it could be ordered by relevancy in the API itself.
e.g. if you search for UK, the first entry is "Ukraine", and the entry with the best relevancy is "United Kingdom" (what i'm actually after)

Thanks

[2017-08-02 13:26] ka-ke opened #57 "RegionalBlocs of special territories"
Hi,

some of the special member state territories are missing their regionalBlocs list. For example, Åland Islands of Finland is part of European Union, but it's not mentioned in the response for it. Information on special territories in EU: https://en.wikipedia.org/wiki/Special_member_state_territories_and_the_European_Union

Let me know if it's possible to develop this feature, or would it need

[2017-08-04 10:10] parasmesanjay opened #58 "https://restcountries.eu/rest/v2/all in this API some countries calling codes are missing"
API :- https://restcountries.eu/rest/v2/all
when i hit his api it give me data but in this data i see some countries calling codes are missing which i want in response.
example :- Antarctica (for this country calling code missing)

[2017-08-04 20:41] trusktr opened #59 "How do I just get a list of countries and their calling codes?"
For example, I just want to receive something like this:

[code]

[2017-08-04 20:54] trusktr commented on #59
Nevermind, https://restcountries.eu/rest/v2/all?fields=alpha2Code;callingCodes

[2017-08-04 20:54] #59 closed

[2017-08-07 09:28] dweggemans opened #61 "Missing translations"
Some translations are missing. I've taken the translations from Wikipedia, so I hope they are accurate.
[code]

[2017-08-23 06:31] fayder commented on #58
Hi @parasmesanjay I will look into it. Thanks

[2017-08-23 06:33] fayder commented on #57
Hi @ka-ke It is most definitely possible to improve the data. All the help is very welcome :)

[2017-08-23 22:45] workallday opened #62 "Where is England, Scotland, Wales and Ireland ?"
Where are these countries ? Fairly standard tbh

[2017-08-26 11:26] namnamir opened #63 "translation"
Hi there,

I am willing to add the Farsi translation to the db. Then Iranian and Afghan developers can use it :)

I don't know how it does work. Should I add it and ask for pull?

[2017-08-28 12:19] fayder commented on #63
Hey @namnamir Yes, you'd need to add the translations on this file `restcountries/src/main/resources/countriesV2.json` and make a Pull Request

[2017-08-28 12:24] fayder commented on #62
Hey @workallday

England, Scotland, Wales and Northern Ireland are represented by "United Kingdom of Great Britain and Northern Ireland"

Ireland does appear by itself `http://restcountries.eu/rest/v2/name/ireland`

The list of countries is taken from this wiki page https://en.wikipedia.org/wiki/ISO_3166-1#Current_codes

[2017-08-28 12:35] fayder commented on #58
This is fixed now

[2017-08-28 12:35] #58 closed

[2017-08-28 17:34] namnamir commented on #63
thank you. I'll do it and will send a pull request :+1:

[2017-08-29 06:51] fayder commented on #61
Thank you @dweggemans This data would need to be added to the file `restcountries/src/main/resources/countriesV2.json`

If you add it, you can do a Pull Request. If not, I'll add it :)

[2017-08-30 10:11] namnamir opened #66 "Translation of other stuff"
I was thinking to start translating other stuff:
- currency
- region
- other names
- subregion
- cpital

[2017-09-13 08:27] dejanljevar opened #67 "Search by Capital city end-point is Not working Correctly"
Hi,

`https://restcountries.eu/rest/v2/capital/gr`

I have noticed that if you type in search field "gr" result will be "Croatia",
but capital of this country is Zagreb. Is this known issue ?

p.s. Thanks for such a great API !

Regards,
Dejan

[2017-09-30 09:56] fayder commented on #67
Hey! This is because the word "Za**gr**eb" contains **gr**

[2017-09-30 09:56] #67 closed

[2017-09-30 09:57] #63 closed

[2017-09-30 09:58] #62 closed

[2017-09-30 10:25] fayder commented on #57
Improvements have been deployed!

[2017-09-30 10:25] #57 closed

[2017-09-30 10:42] fayder commented on #61
This is done now. Thanks

[2017-09-30 10:42] #61 closed

[2017-09-30 12:49] fayder commented on #55
Hi @MichelZ I'm not planning to do this in the near future. I actually removed the "relevance" field for v2. But thanks for your feedback!

[2017-09-30 12:49] #55 closed

[2017-10-01 13:37] fayder commented on #66
Hey! I'm thinking to rely on this project for the data: https://github.com/mledoze/countries
So I will be contributing there as well, so that our efforts can be focused on one dataset

[2017-10-03 09:51] fayder commented on #48
Added

[2017-10-03 09:51] #48 closed

[2017-10-16 00:11] Joon323 opened #68 "Official Languages - Philippines"
The API only mentions English as the official language for the Philippines. Filipino(Tagalog) is their first official language and English is second. Been getting nagged at members who are natives to the Philippines lol.

Just wanted to contribute a little here. And thank you for this API!

[2017-10-22 23:40] silentDjay opened #69 "United States Minor Outlying Islands missing latlng data"
United States Minor Outlying Islands is the only entry in the list that does not have any latlng data. Perhaps it was omitted because the territories are very, very far apart from each other and no single spot would make sense, but so are the islands of Kiribati and Federated States of Micronesia, for example, and those entries include latlng data.

If you'd like to include latlng data for United

[2017-10-23 17:37] silentDjay commented on #69
I suppose this is an issue for https://github.com/mledoze/countries ?

How do changes to the country dataset in that project make their way into this one?

[2017-10-26 17:43] JoaoLeiria opened #70 "Incorrect time zone for Portugal"
Hello,

I was using your API (great work, btw) and I noticed the timezones for Portugal are incorrect.
They are **UTC-01:00** and UTC, and should be **UTC+01:00** and UTC .(https://www.timeanddate.com/time/zone/portugal/lisbon)

Best regards,
João

[2017-10-28 17:54] silentDjay commented on #69
My PR on the source project:
https://github.com/mledoze/countries/pull/238

Leaving this issue open for now as I'm still interested in the answer to my question in my previous comment.

Cheers!

[2017-10-31 20:08] armenav opened #72 "Incorrect language for Armenia"
Armenia has only one official language which is Armenian.
https://en.wikipedia.org/wiki/Languages_of_Armenia

Russian should not be in the list.

[2017-11-08 13:13] berserkmustdie opened #73 "CORS issue in ajax request"
Hi when I make ajax request I got  such error `Request header field Authorization is not allowed by Access-Control-Allow-Headers in preflight response`

1 variant:
           $.get("https://restcountries.eu/rest/v2/all?fields=name").done(function (country) {
                console.dir(country);
                var options = "";
                for(var i=0; i<country.length; i++) {

[2017-11-08 13:20] mledoze commented on #73
Well, the error message says it all: `Request header field Authorization is not allowed by Access-Control-Allow-Headers`

When you perform a GET on `https://restcountries.eu/rest/v2/all?fields=name`, the server returns the following header `Access-Control-Allow-Headers` which contains `Accept, X-Requested-With`; as you can see the `Authorization` header is not in this list.

So you need to perform

[2017-11-10 19:40] rmachadolx opened #74 "British Indian Ocean Territory fla svg error"
British Indian Ocean Territory error in svg file when converting to bitmap as well as brazilian and united states flags
![united states of america](https://user-images.githubusercontent.com/4601022/32675418-d20d8146-c64e-11e7-874b-538cec8e0890.jpg)
![brazil](https://user-images.githubusercontent.com/4601022/32675450-de50bd92-c64e-11e7-8c9e-6bcf93f4956f.jpg)

For the api I want to congatulate you a

[2017-11-15 19:01] VCardWEb commented on #50
I was thinking something like:
restcountries.eu/rest/v2/language/fr/all
restcountries.eu/rest/v2/language/fr/name/aruba?fullText=true
The result can be everything translated to the requested language, if this gets implemented I can help with translations. I'm sure there will be many more willing to help with that.

[2017-11-21 03:52] #68 closed

[2017-11-22 08:01] fayder commented on #50
Hi @VCardWEb This is something that I'm actually considering for the version 3 of restcountries API

[2017-11-22 08:20] #73 closed

[2017-11-22 08:20] fayder commented on #70
Thanks @JoaoLeiria I will take a look

[2017-11-22 08:24] fayder commented on #69
Hello @silentDjay
Sorry for the delayed answer. Currently any changes done on https://github.com/mledoze/countries  do not automatically get merged with restcountries. Currently  I run a script now and then to merge the changes.

[2017-11-24 16:52] dogukantufekci opened #76 "Update time zone for Turkey"
Please update time zone for Turkey to Turkish Time (TRT), UTC +3

[2017-11-28 18:44] fayder commented on #76
This issue is now resolved and released

[2017-11-28 18:44] #76 closed

[2017-11-29 11:26] ahoulgrave opened #77 "Demomyn translations"
Is there any initiative to add this? At least the foundation so people can contribute. Thanks in advance.

[2017-12-09 21:21] rmachadolx commented on #74
The problem was with the svg nugget with magick.net works fine.
I am making an app using c# for desktop windows forms  if you like to see it i´lsend you the instllation files.
I think it is fine thanks to restcountries
[Mundo1.0.zip](https://github.com/fayder/restcountries/files/1545100/Mundo1.0.zip)

[2017-12-12 10:03] yassersharaf opened #78 "Not getting any response using PHP cURL"
Hi
I have a problem getting response using PHP cURL. I testes the same code on another server and it's working fine does it mean that the server has just stopped sending the request though it was working fine before or the 'restcountries.eu' blocked server's IP?

    $curl = curl_init();
        $headers = array(
            'Accept: application/json',
            'Content-Type: application/json',

[2017-12-21 10:38] masciugo opened #79 "Dockerization (a naive idea)"
first of all thank you all for this amazing public service.

As it seem hard, at least for this year, to reach the whole budget for maintenance, even if I am aware that the best solution is as it is, I just wonder whether is possible to protect this project providing it differently. I mean, in few fords, cutting the hosting costs (switching to a less performing live service) and offering a dockeri

[2018-01-11 06:26] ravi100k opened #81 "IN is missing"
India is missing in the country list.

[2018-01-23 09:08] fayder commented on #81
Hi. It seems to be there
`https://restcountries.eu/rest/v2/alpha/in`

[2018-01-23 09:08] #81 closed

[2018-01-26 16:33] serobalino opened #82 "Does not exist"
Scotland and England do not exist in the api please help with that.

Thank you

[2018-02-03 17:53] tomgk commented on #82
Scotland and England are not countries of their own but belong to the United Kingdom

[2018-02-05 22:54] serobalino commented on #82
https://en.wikipedia.org/wiki/Scotland
Wikipedia Calls country
:S
thank u

[2018-02-10 18:24] tomgk commented on #82
Wikipedia says:

It may be called a country but they are not independent, that's why I wrote `not countries of their own`. I probably could have worded it better but that's what I meant.

restcountries.eu is only about sovereign countries, not parts of sovereign countries.

[2018-02-13 17:43] JpabloR opened #83 "request return 403 Forbidden"
Hi,

 i have a problem with your api. Today your API started return to me 403 Forbidden when i call it from java, do you know what could be the problem, my code haven´t changed.

Please help me.

Thanks!

[2018-02-13 18:38] artusvranken commented on #83
A few minutes ago the website was down, but the service was still available. Maybe just some connection problems with the server host.

[2018-02-14 09:44] knirirr commented on #83
I've noticed the same thing calling it from Python:

[code]

This is still happening at the moment.

[2018-02-14 13:12] The-Code-Monkey opened #84 "Incorrect Timezones for United Kingdom"
Hi the united kingdom is GMT which is the same as UTC ± 0 so why are there 9 massively differnet timezones being returned the whole of the uk is UTC can this be changed as it is breaking something massively im having to put an if statement in for that country

[2018-02-23 09:36] artusvranken commented on #83
Same for me, I can use it again

[2018-03-04 19:04] RibeiroAna opened #85 "Add mailing post address information"
Hello,
It would be very usefull for me if there was information about how to print post information on the database. More info here: https://msdn.microsoft.com/en-us/library/cc195167.aspx
Cheers,
Ana

[2018-04-05 13:07] RibeiroAna commented on #79
+1

[2018-04-12 11:40] RibeiroAna opened #87 "Add sub regions by country"
For example, add US states or French provinces.

[2018-04-13 14:24] Royedc4 opened #88 "Adding More translations and PR"
As I've seen in other issues a lot of people is asking for more translations, can I add more translations and make a PR?

[2018-04-16 15:38] RibeiroAna commented on #85
@fayder I am going to implement this and soon I'll make a PR if you are okay with that.

[2018-04-17 06:33] fayder commented on #85
Hello @RibeiroAna! I do not maintain this project anymore. It is now own by @apilayer. I also suggest you take a look at https://github.com/mledoze/countries and consider to contribute there :)

[2018-04-20 07:32] rincemust opened #89 "Adding a link to gain further information of the country"
I feel it would be good if the API were to supply a link regarding more information about the country. Something like a Wikipedia link or something similar. It would be helpful if a person were to provide a summary of a country on top of the factual information contained in restcountries.

[2018-04-20 12:22] saruman opened #90 "Error fetching remote SSL connect error"
Hello.
I'm getting this error after I switched to V2:
Error fetching remote https://restcountries.eu/rest/v2/all [ status 0 ] SSL connect error

Any thoughts? I am using PHP.

[2018-04-20 13:09] saruman commented on #90
I had to remove "https" from URL and now is working, but I suppose that is not a good idea.  I have the latest version of curl installed in my server.

[2018-04-22 17:11] guss77 opened #91 "API lists local region codes as "calling codes""
As described in the issue https://github.com/mledoze/countries/issues/114 on a similar project with a similar problem, this API returns multiple calling codes which are actually the country code that is shared with another country followed by several regional prefixes.

In actuality, each country has only one country code (See https://en.wikipedia.org/wiki/List_of_country_calling_codes ), but ther

[2018-05-06 00:00] trjose opened #92 "Add Car Country Codes"
It would be nice uf ‘Car Country Codes’ could be added as information, and also the ability to search fir country based on this Codes. Mapping of Car Country Codes to 2-, and 3-letter ISO

[2018-06-01 08:21] kmpoppe commented on #91
May I suggest the following change in the "callingCode"-usage:

1) since the absolute majority of countries have only one callingCode, these should remain as
`"callingCode":["49"]` (Germany)
2) the 25 countries in the NANP as well as Russia and Kazakhstan should get an object similar to this
`"callingCode":[{"prefix":"1","areas":["809","829","849"]}]` (Dominican Republic)
`"callingCode":[{"prefix"

[2018-06-19 22:46] boredom2 opened #93 "Can VAT Rates be added?"
Hey there and thanks for this really wonderfull project :)
Im totally happy with this - the only thing, I miss for our Purposes is the "VAT Rate"(s) of each Country. This may be too specific, but maybe this could get added also?

Thanks!

[2018-06-20 09:05] ePascalC commented on #93
An API seems to already exist on https://vatapi.com/ for that...

[2018-06-20 09:30] boredom2 commented on #93
There are many APIs, which focus on European VAT Rates. I couldnt find a Project though, which covers "the World" :)

[2018-06-26 00:01] jonagoldman opened #94 "Wrong or missing currency codes and names"
Currency data is corrupted, in some cases currency code is `(none)` in other cases currency code is `null` and currency name is `[D]`

Some examples found on https://restcountries.eu/rest/v2/all:

`{"code":"(none)","name":"Faroese króna","symbol":"kr"}`
`{"code":"(none)","name":"Guernsey pound","symbol":"£"}`
`{"code":"(none)","symbol":"$"}`
`{"name":"[D]","symbol":"$"}`

and so on ...

[2018-07-10 10:56] guillaumegarcia13 opened #95 "[Suggestion] Allow searching by translation"
Hi,

Love the API!
Yet, I think there is a missing piece: search country using translation.

As my users are French, I would like to provide a way for them to search countries using their own languages (whose data already exist in the dataset).
Basically, it would mean being able to search using `translations.fr` instead of symply `name`.

For the moment, if their search for `Hongrie`, they get no

[2018-07-12 04:57] mrtplnkr opened #96 "CORS enabled ?"
Hello is your services not CORS enabled ?
Request header field Content-Type is not allowed by Access-Control-Allow-Headers in preflight response

[2018-07-19 18:31] daverogers commented on #87
+1

It looks like this repo has a pretty extensive dataset already:
https://github.com/hexorx/countries/blob/master/lib/countries/data/subdivisions/

In the meantime, you could consume that YAML file using the raw URL and parse it in your language of choice:
https://raw.githubusercontent.com/hexorx/countries/master/lib/countries/data/subdivisions/BY.yaml

Definitely would be better in this API tho

[2018-07-25 09:24] Stitch07 opened #97 "Searching multiple word countries"
In the current state I find it impossible to specifically search countries with multiple words in them. Example being South Korea. Even URI encoding it, `north%20Korea` throws me a 404. Is there any workaround to this?

[2018-07-27 01:39] Kevin94singh commented on #97
I have the same issue.

[2018-08-08 19:00] oriechinedu commented on #97
I am not sure the problem is with multiple words, I am thinking it's just the resource that's not available for such country. I have same issue with United Kingdom and United States but I got result for other multiple word countries.

[2018-08-08 19:03] Kevin94singh commented on #97
I tried to find those countries by a country code and they have the resource - so I was able to find them by the country code.

[2018-08-22 08:23] Reelix opened #99 "South Africa - Multiple capitals"
https://restcountries.eu/rest/v2/alpha/zaf

Currently returns "Pretoria" as its capital.

This country has 3 capitals - "Pretoria", "Cape Town", and "Bloemfontein"

Possibly return all the capitals as opposed to just the first?

[2018-08-30 08:21] davidquintard opened #100 "Missing translations ?"
Hi there,
When calling https://restcountries.eu/rest/v2/lang/fr
I don't see translation for Germany: Allemagne

Are translations missing ?

[2018-09-27 00:04] jongon commented on #82
I wanted to use this rest api for soccer application and I need countries like England, Scotland or Wales. Are you no planning to add them?

[2018-10-08 17:03] raoul-m opened #101 "Slovensko isn't found"
Slovensko couldn't be found using "https://restcountries.eu/rest/v2/name/Slovensko"
If you look up Slovensk, you will get a result, although the native name is Slovensko (according to the results).

[2018-10-08 17:06] raoul-m commented on #101
Magyarország also couldn't be found

[2018-10-17 19:03] jeriveromartinez opened #102 "it need a subregion filter"

[2018-10-17 20:03] Royedc4 commented on #88
No response -.-

[2018-10-17 20:03] #88 closed

[2018-10-24 00:07] andrewdhan opened #103 "The Bolivia flag is inaccurate. It is missing the national bird: el condor."

[2018-11-02 16:05] titoc opened #104 "Swaziland changed it country name to Eswatini"
https://www.cnn.com/2018/04/20/africa/swaziland-eswatini-africa-monarchy-intl/index.html

[2018-11-08 09:31] mledoze commented on #103
Thank you @os1-andrew I'll look into it.

[2018-11-15 13:15] yavrumian opened #106 "Official Languages - Armenia"
_API_ mentions **Russian** as one of _official languages_ of **Armenia**, but Armenia has only _**one**_ _official language_ and that is **Armenian**. Please fix this as soon as possible.
**Sources:**
http://www.president.am/en/constitution-2015/  (_article 20)_
https://en.wikipedia.org/wiki/Armenia#Languages

[2018-11-21 11:50] trialaths opened #107 "Png format"
Please provide png format url of flag images

[2018-11-23 16:36] gajus opened #108 "Add Google Place ID"
It would be useful to have Google Place ID for every country, e.g.

`ChIJi7xhMnjjQgwR7KNoB5Qs7KY` for Great Britain.

[2018-11-23 17:10] gajus commented on #108
Here you go:

[code]

[2018-11-27 15:09] AlexandreBonfim commented on #96
Did you find a solution? I was receiving the country names last week and now is complain about CORS.

[2018-12-04 16:07] danielaparra opened #109 "Bolivian Flag incorrect"
The Bolivian flag is missing the emblem with the national bird. It's not the Bolivian flag without the emblem.

[2018-12-05 13:18] Vimata opened #110 "Add option to indicate country independence e.g. Åland Islands belongs to Finland"

[2018-12-06 00:03] ChocoC opened #111 "Mexico is located in Northern America"
Getting information about countries through the Dyno bot (which redirects to restcountries.eu), I got that Mexico was located in Central America. This is wrong no matter which continental model one is following. Mexico is always North America or Northern America. Please, correct it. It not only important for issues like the "new NAFTA" (NORTH AMERICAN Free Trade Agreement, between Canada, U.S. and

[2018-12-16 14:57] tomgk commented on #82
In soccer the parts of United Kingdom are treated special because it originated from there. However, this is a general country database, not one specifically for soccer.

[2018-12-31 11:26] spina-a-d opened #112 "Malay language is missing a a country code for `iso639_1`"
The language Malaysian has no `iso639_1` code when it should be `ms`.
You can find it here:
https://restcountries.eu/rest/v2/name/malaysia
The correct one is here:
https://www.loc.gov/standards/iso639-2/php/langcodes_name.php?iso_639_1=ms

[2019-01-04 15:14] kmpoppe opened #113 "NPL (Nepal): German translation wrong"
Good evening,

the German translation for Nepal (ISO-3: `NPL`) is incorrect. It says "**Népal**" which is only the correct french translation. German translation should also say "**Nepal**".

Kai

[2019-01-09 12:45] suswinther opened #114 "[Improvement] Add viewBox attribute to svg images"
Some of the flag images don't scale correctly on IE11 and this is because the attribute viewBox is missing on svg element.
Norways flag doesn't scale: https://restcountries.eu/data/nor.svg
Algerias flag does: https://restcountries.eu/data/dza.svg

[2019-01-15 10:43] SergeyChuchukalo commented on #107
in iOS very big problem to use swg format of images. Can you provide png format?

[2019-01-16 20:02] mthahaseen opened #115 "SSL is not working"
https url is not working. kindly update SSL as soon as possible.

[2019-01-26 17:09] #113 closed

[2019-01-26 17:10] kmpoppe commented on #113
Closed. My Issue ist with the source github/countries, not with restcountries. My bad!

[2019-02-13 03:06] klachhab opened #116 "Country translation"
Hi

Morocco in Arabic is "المغرب" not "مراکش"
I hope you correct it as soon as possible 😊😊

Thranx

[2019-02-14 08:21] davidtimovski opened #117 "Change Macedonia (the former Yugoslav Republic of) to North Macedonia"
The name has been officially [changed](https://en.wikipedia.org/wiki/North_Macedonia).

[2019-02-19 19:29] papiando opened #118 "Countries Aruba(AW) and Curaçao (CW) show wrong language"
It shows {"iso639_1":"pa","iso639_2":"pan","name":"(Eastern) Punjabi","nativeName":"ਪੰਜਾਬੀ"}. It should actually be , but it should be {"iso639_2":"pap","name":"Papiamento","nativeName":"Papiamentu"}. Either change it to this, or remove completely, as Punjabi is not spoken anywhere in the caribbean. It could be added to Bonaire (BQ) as well.

[2019-02-20 20:14] Raykud commented on #111
just to add or to be more clear, the subregion returned is: `subregion: "Central America",`when it should be something like `subregion: "North America"`.

[2019-02-22 10:13] CatalinStefan commented on #107
Adding my voice to this, please please please PNG

[2019-02-28 15:34] poastertoaster opened #119 "Add North Korea and South Korea as alternate spellings of the DPRK and ROK."
Most all data sources refer to these two countries by their geographic names. In order to connect this data to other sources, a way to refer to these two countries as North Korea and South Korea would be required.

[2019-03-03 22:16] TheAifam5 commented on #96
I have the same problem too.

[2019-03-04 11:13] abhi78439 commented on #96
Same issue with me too

[2019-03-04 22:51] DaveSimmons1234 opened #120 "Chad borders array missing Sudan"
Hi there,

https://restcountries.eu/rest/v2/alpha/tcd

The borders for Chad (TCD) is missing Sudan (SDN) - could this be added please?

[2019-03-19 12:29] mledoze commented on #120
Agreed, the list of borders contains SSN which is the code for South Sudan but should contains SDN instead which is the code for Sudan.

https://en.wikipedia.org/wiki/Chad

[2019-03-19 14:18] DaveSimmons1234 commented on #120
I ended up copying the file locally and make the corrections myself. There are a few border issues.

[2019-03-19 14:22] DaveSimmons1234 opened #121 "Flags download"
Would it be possible for someone to upload all the flags as an archive - I would like to host them myself.

Thanks

[2019-03-20 12:16] mledoze commented on #120
Do you mind giving the issues that you noticed?

[2019-03-20 13:32] DaveSimmons1234 commented on #120
I'm sorry I can't quite remember them. Mostly borders inconsistencies in Africa then issues mentioned in github issues - i.e. Mexico subregion etc. I also processed the file to remove any data that was extraneous to my needs.

[2019-04-03 09:59] hamdyaea opened #122 "Missing one official language for Switzerland"
In Switzerland there are four official languages :

German
French
Italian
Romansh

It miss Romansh

https://en.wikipedia.org/wiki/Switzerland

[2019-04-04 21:49] hamdyaea opened #123 "Wrong border for Cyprus"
In the json result GBR is the border of Cyprus but Cyprus don't have any borders. This is an island.

[2019-04-17 21:28] chrisbol opened #125 "two alternate spellings start with a space"
The following alternate spellings (altSpelling) start with a space:
" República del Perú" > Peru (PER)
" the Abode of Peace" > Brunei Darussalam (BRN)

[2019-04-28 00:29] na2axl opened #127 "Change ordering"
Hi,

It will be nice if we can reorder the list of results with the key of our choice, for example an url like `https://restcountries.eu/rest/v2/all?order=alpha3Code` will reorder result according to `alpha3Code` values.

[2019-05-06 09:54] AlexOldest opened #128 "India gives 2 results"

[2019-05-06 09:57] AlexOldest commented on #128
Search for name/India gives two results. It is very strange that you can not afford to allocate a different name for some small territory that have the word "Indian" in its name

[2019-05-10 00:55] majdkz97 commented on #121
http://flags.fmcdn.net/data/flags-ultra.zip

[2019-05-10 07:01] DaveSimmons1234 commented on #121
Wonderful - thanks very much.

D

[2019-05-10 07:01] #121 closed

[2019-05-15 04:00] acubed commented on #91
While this issue have been fixed in the pull request #126 (which have also been merged), the server still returns the old data.

[2019-06-11 13:16] martatenes commented on #96
Same issue here. Any solution?

[2019-06-12 15:09] TheAifam5 commented on #96
Yea, prefetch data in API then send back to frontend.

[2019-06-15 15:43] johnnycopes opened #129 "Feature request: UN member state status"
It would be helpful if there were a boolean property to indicate if the given country is currently a UN member state. Perhaps the property could even be an object to include when it joined the UN

[2019-06-16 07:23] Gorbus opened #130 "Problème searching string starting with "eng""
Hi,

No idea how this is possible but :

 is giving a 404, while

(or any other strings that I tried for that matters) is working.

[2019-06-22 05:34] meteorra opened #131 "No Chinese labels for countries"
When retrieving the list of countries with the following endpoint https://restcountries.eu/rest/v2/all,
in the response I get countries with translations for several languages - fr, de, ja etc. Is there a possibility to get Chinese translation in the list?

[2019-06-22 11:28] MikhailVolkov350504 commented on #131
I faced the same issue. Could you please add Chinese support?

[2019-06-24 11:17] avarapayeva commented on #131
We've prepared json with Chinese values for you. Could you please add them to the library?
It's a blocker for us to proceed with your solution.

Thank you in advance.
[Countries Chinese.zip](https://github.com/apilayer/restcountries/files/3320528/Countries.Chinese.zip)

[2019-06-25 11:02] malcsmac opened #132 "Vietnam showing up as Viet Nam in English spelling"

[2019-06-25 17:08] pistell opened #133 "Update capitols for Burundi and Eswatini"
Burundi changed its capital to Gitega and the capital of Eswatini is Mbabane.

[2019-06-25 17:27] pistell commented on #133
Also the capitol of Kazakhstan is now called Nursultan

[2019-06-27 11:20] Pezhvak commented on #131
you need to have two fields for each translation. common and official. the service that you are talking about is using [mledoze/countries](https://github.com/mledoze/countries. if you want to add this translation, you should submit your data to that repository. (i don't know if they are pulling updates from the repo as of now or not, you should contact restcountries.eu to make sure)

[2019-06-27 11:21] Pezhvak commented on #131
you need to have two fields for each translation. common and official. the service that you are talking about is using [mledoze/countries](https://github.com/mledoze/countries). if you want to add this translation, you should submit your data to that repository. (i don't know if they are pulling updates from the repo as of now or not, you should contact restcountries.eu to make sure)

[2019-06-27 13:17] MikhailVolkov350504 commented on #131
@Pezhvak Thank you fo the reply!
After looking through [mledoze/countries](https://github.com/mledoze/countries) repo I noticed they already have Chinese language support (_"zho"_ translation code) and even some others.

Could you please update source files to add Chines support?

[2019-07-04 16:59] Danny-Engelman commented on #109
**+1**

Missing emblem is a  major mistake

![image](https://user-images.githubusercontent.com/3382713/60680977-b96cbf80-9e8d-11e9-976d-527583c9b4e1.png)

[2019-07-04 17:00] Danny-Engelman commented on #117
**+1**

[2019-07-04 17:04] Danny-Engelman opened #134 "‼️ Peru flag is missing the detail crest"
https://restcountries.eu/data/per.svg

![image](https://user-images.githubusercontent.com/3382713/60681196-a7d7e780-9e8e-11e9-8d02-3ab2413a1e44.png)

## https://commons.wikimedia.org/wiki/File:Flag_of_Peru_(state).svg

![image](https://user-images.githubusercontent.com/3382713/60681140-65160f80-9e8e-11e9-8d55-3703d8ae10f3.png)

[2019-07-06 08:50] DevFelixDorn opened #135 "[IMPROVEMENT] Search in other languages"
You made translation in 6 - 7 languages as far as i know. Why shouldn't create an endpoint for searching in another language like `https://restcountries.eu/rest/v2/fr/name/{query} ` or even `https://restcountries.eu/rest/v2/name/{query}?lang={fr, ja,...}`. I usually use your (cool) api for French application and I need to translate the query before sending, that's takes to much time, and you alrea

[2019-07-08 00:32] IgorJeri commented on #40
Good day,

I have created a basic start to an openAPI definition located here:
https://github.com/IgorJeri/restcountries.eu-OPEN-API-v2

[2019-07-08 18:14] pistell commented on #133
Also the capital of Sri Lanka should be Sri Jayawardenepura Kotte

[2019-07-10 15:16] mledoze commented on #134
:wave: Hello, this issue has been fixed on https://github.com/mledoze/countries by pull request https://github.com/mledoze/countries/pull/341.

[2019-07-10 15:28] mledoze commented on #109
:wave: Hello, this issue has been fixed on https://github.com/mledoze/countries by pull request mledoze/countries#342.
Diff: https://github.com/mledoze/countries/pull/342/files?short_path=50ab598#diff-50ab598d13300c5805c62774b68b6739

[2019-07-21 18:31] amatosg commented on #108
you should make a PR for this. this is awesome

[2019-08-10 05:28] egbakou opened #137 "[INFO] .NET wrapper library for REST Countries"
Check it out at [https://github.com/egbakou/RESTCountries.NET](https://github.com/egbakou/RESTCountries.NET)
Well documented.

[2019-08-17 06:32] abdelrahmanayman2003 opened #138 "No callingCodes"
**United States Minor Outlying Islands,
French Southern Territories and
Heard Island and McDonald Islands** don't have calling codes

[2019-08-21 06:36] Zenith-Nadir opened #139 "Include common short English name, not only official long country name"
Hi,
I would like to request, if possible, to include a common English name, as in other languages section, because some of official names are so long (too long), they do not fit into other databases and search engines, as example United Kingdom, Koreas, Bolivia, etc.
It would be nice to have common, popular English name as it is used in spoken language.
Z-N

[2019-08-30 23:50] Leon99 opened #140 "Different flag aspect ratios"
Svgs of different flags here have different sizes and aspect ratios, which makes it hard to visualise them in a list.
I noticed the initial issue re. adding flags had http://flag-icon-css.lip.is mentioned as a potential source of the flags, which have all the flags in the same ratio (4:3 or 1:1). I wonder why it wasn't eventually used - @fayder?

[2019-09-04 15:39] tonivj5 commented on #96
CORS are OK, verify what headers are you sending https://github.com/apilayer/restcountries/issues/73#issuecomment-342815331

[2019-09-06 16:10] azazely85 opened #141 "Change KZ phone code to 7 from 77 and 76"

[2019-09-06 16:11] azazely85 commented on #141
https://restcountries.eu/rest/v2/all?fields=flag;alpha2Code;callingCodes;name;
{"flag":"https://restcountries.eu/data/kaz.svg","name":"Kazakhstan","alpha2Code":"KZ","callingCodes":["76","77"]}

[2019-09-19 15:31] amatosg commented on #138
do you have those codes?

[2019-09-24 19:42] Amn3s1a2018 commented on #112
Hey, it seems a bit more complicated ...
I'm not sure about your suggestion (what the hack is a macrolanguage). But there are various iso639-2 codes, im rly not an expert about this... so based on info here:

https://iso639-3.sil.org/code_tables/639/data/all?title=&field_iso639_cd_st_mmbrshp_639_1_tid=All&name_3=malay&field_iso639_element_scope_tid=All&field_iso639_language_type_tid=All&items_per_

[2019-09-26 21:24] Amn3s1a2018 commented on #139
Its a nice idea, and it would be very easy to add them as translation, but sometimes its hard to define what is the „common” name. Lets take your first example: the common name probably „United Kingdom”. Referring as England or Great Britain is probably wrong or at least inaccurate, but if you say UK or just Britain its good enough the same. Lets hope some project owner shows up and tell us whats

[2019-10-01 10:35] vialcollet opened #147 "Currency change required for Venezuela (VE)"
Hi,
The currency code and symbol changed in Venezuela.

Here are the new values:
* Code: VES
* Symbol: Bs S

[2019-10-01 14:57] Scibs commented on #147
I'll work on this.

[2019-10-02 12:52] tomix2991 opened #149 "Please update your https://restcountries.eu/ SSL certificate"
For this url we will be connecting to  https://restcountries.eu/rest/v2/alpha/PL, the server is not sending back a ServerHello

Mon Sep 23 2019 10:06:38 [0x80e00159][mpgw][debug] mpgw(SSGPassThroughFramework): tid(85187343)[111.111.11.1] gtid(8b5b0ce35d88d16e0513e8ff): Outbound HTTP on new TCP session using HTTP/1.1 to https://restcountries.eu/rest/v2/alpha/PL
Mon Sep 23 2019 10:06:38 [0x81200017]

[2019-10-10 19:15] aoiotoko opened #150 "Update Mexico's subregion to "Northern America""
Mexico has an erroneous subregion of "Central America".

[2019-10-15 11:08] Amn3s1a2018 commented on #150
It seems to me current version `"subregion": "Central America"` is fine, according to [UNSD](https://unstats.un.org/unsd/methodology/m49/#geo-regions)

[2019-10-15 14:46] Amn3s1a2018 commented on #130
There is no full text search:
https://restcountries.eu/#api-endpoints-name
It looks for the sting only in name (maybe in altspellings), so the 404 is the right answer, cause no country name containing "eng".

[2019-10-15 14:51] Amn3s1a2018 commented on #128
Better luck with
https://restcountries.eu/rest/v2/name/india?fullText=true

seems to me strange use the term "full text searching" at first, but it means something else here: fullText=true turns OFF the partial searching

[2019-10-29 15:30] erikyo opened #152 "Kosovo translations are null"
Some Kosovo translations are null (de, fr, ja, it, nl)

https://restcountries.eu/rest/v2/name/kosovo

{"de":null,"es":"Kosovo","fr":null,"ja":null,"it":null,"br":"Kosovo","pt":"Kosovo","nl":null,"hr":"Kosovo","fa":"کوزوو"}

have to be:
{"de":"Kosovo","es":"Kosovo","fr":"Kosovo","ja":"コソボ","it":"Kosovo","br":"Kosovo","pt":"Kosovo","nl":"Kosovo","hr":"Kosovo","fa":"کوزوو"}

[2019-11-02 19:03] Volpym opened #153 "/name/of returns all countries"
```/name/of``` returns all countries even with ```?fulltext=true```

[2019-11-18 10:37] AFed29 opened #156 "Capital of Vatican City incorrect"
The capital city of Vatican City is listed as Rome, however, the capital is Vatican City.

[2019-11-18 10:39] AFed29 commented on #156
#71 Seems like it would fix this

[2019-11-27 16:57] exchange12rocks commented on #123
Ah, but it has! There are British bases and they are considered a UK territory.

[2019-12-09 11:25] Timawg commented on #132
Would also like to see this fixed

[2019-12-18 14:15] benju69 opened #158 "French name for French Guiana is Guyane (and not Guayane)"
"Guyane Française" to be exact

[2019-12-18 14:16] benju69 opened #159 "Don't compress json"

[2019-12-18 14:17] axelguilmin commented on #159
This would make merging PR like https://github.com/apilayer/restcountries/issues/156 easier :)

[2020-01-25 15:24] HartBlanc commented on #159
Agreed, this change would make submission and review of PRs much more simple.

[2020-01-27 11:22] TheBigBadWolf228 opened #162 "Not full country names are returned"
Not full country names are returned using API. Pay attnetion to screenshot:
![2020-01-27_1320](https://user-images.githubusercontent.com/31707901/73170849-1a006a00-4108-11ea-8ade-0b1551a54acd.png)

[2020-02-19 15:07] TomDeSmet commented on #62
It's kind of a bummer that those aren't in the list by themselves...

[2020-03-19 12:37] feralheart opened #166 "Native name search not working with accented characters"
When I call the name search for example for [Hungary](https://restcountries.eu/rest/v2/name/hungary) I got the good JSON
It works with these test calls:

- hungary
- hun
- hunga

But when I try the native spelling: "Magyarország" or part of the native spelling "Magyaro" I got 404 error

[2020-03-22 17:04] khukhunaishvili opened #167 "Wrong timezone and region for Georgia"
timezone is +4, not -5;
region - not fair to call it Asia, its more Europe with its culture, geographically - "Located at the crossroads of Western Asia and Eastern Europe" (wikipedia)

[2020-05-04 13:38] juanjsebgarcia opened #170 "Kosovo CCA3 is no longer KOS, now UNK"
As per title, the code has changed.

Source: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3

[2020-05-05 06:59] RichMatthews opened #171 "Why is there no continent key?"
i'm confused why there is a lack of `continent` key for each country?

I see there is a `region` and `subregion` but for example Mexico and Honduras are in North America but this doesn't appear in their respective responses. why is this? and would you be able to put this in?

[2020-05-05 07:00] RichMatthews commented on #38
@fayder hi I would like to open this or have this addressed: https://github.com/apilayer/restcountries/issues/171

let me which issue you'd rather chat in and we can close the other

[2020-05-09 11:50] vmasek commented on #40
Official Swagger/OpenAPI definition would be very helpful. There is a lot of tooling supporting it.

It could probably be generated from your code automatically.
https://swagger.io/tools/open-source/open-source-integrations/

[2020-05-09 11:53] vmasek commented on #128
That's very confusing parameter name (`fullText` was probably meant to mean `exactText`)

[2020-05-21 11:23] alexgarciab opened #172 "Is it possible to add top 5 cities (by population) per country?"
Right now the API only offers the capital city of a country. Would it be possible to add a parameter that offers you the top 5 cities based on population, per country? That would be phenomenal for me. Thanks!

[2020-05-26 16:01] MonilBhavsar opened #174 "Updating Data"
The data provided by API seems to be old. The population of India returned by API is 1295210000 while the current population of India is 1378712489.

[2020-05-27 04:45] kinlane commented on #40
I took @IgorJeri OpenAPI and created a Postman Collection - https://documenter.getpostman.com/view/8854915/SztBaTPd

I agree with @vmasek that if they were officially supported it would be best.

[2020-05-30 08:52] moltar opened #175 "TRY currency has a symbol"
https://en.wikipedia.org/wiki/Turkish_lira

`TRY` currency is missing it's symbol in the API.

[2020-06-02 11:39] saadiButt-1995 opened #176 "There is no API for cities of specific country"
please provide cities api search by country code..

[2020-06-02 11:39] saadiButt-1995 commented on #176
no comments

[2020-06-03 07:41] dbize opened #177 "Incomplete currency/language list for Antarctica"
There is an incomplete currency list for "Antarctica".

It should include Chilean Peso CLP and Spanish.

Below a portion of the response with available currencies and languages.

[code]

[2020-06-04 12:13] DAP-GitHub opened #178 "obsolete entry in restcountries"
Macedonia is now "North Macedonia" (and not Former....) since February 2019. The translations in different language should take this in account.
How frequently is the rest file updated ?

[2020-06-04 14:52] irinael opened #179 "Too many Time Zones for France"
- Actual data received  :
![image](https://user-images.githubusercontent.com/52750054/83772457-b07b0400-a683-11ea-9bbb-cf1edf340d1b.png)

- Should be : UTC+2

[2020-06-04 15:09] amatosg commented on #179
could it be because other territories France has? Even if that's true, +2 is missing

[2020-06-04 15:32] irinael commented on #179
Right, of course ! In the spirit of full exhaustiveness, UTC+10 might also be added (one of the Antarctic French Lands)

https://en.wikipedia.org/wiki/French_Southern_and_Antarctic_Lands

[2020-06-04 15:37] amatosg commented on #179
I added the +2 and +10 to France :)

[2020-06-04 16:23] amatosg commented on #178
you can edit the files and the project owner would have to approve your changes

[2020-06-06 02:58] amatosg commented on #179
@irinael I cloned the project and I'm working on adding SSL security, in the meantime, you can get the modified result here: http://restcountries.com/v2/name/france

[2020-06-06 07:50] DAP-GitHub commented on #178
I don't think it is a good idea to do "manual" corrections to very complex files depending on external "official" sources. I suppose the country file is made and updated programatically by using these sources.

[2020-06-06 19:20] irinael commented on #179
Great, thank you !

[2020-06-06 21:07] amatosg commented on #178
@DAP-GitHub I'm forking this project to make the changes requested and also implement new features. Please take a look at http://restcountries.com/v2/name/eesti right now I'm working on getting the SSL certificate, but I'll have it soon.

[2020-06-06 21:25] amatosg commented on #147
I've forked this project due to inactivity. You can find the project [here](http://restcountries.com/v2/name/venezuela) with the currency fixed

[2020-06-06 21:35] amatosg commented on #135
@DevFelixDorn  would `https://restcountries.eu/rest/v2/fr/name/peru` return just the country name in the desired language? (In this case _Perou_?)

[2020-06-07 12:58] felixdorn commented on #135
This could be a plus, but that's not my point there.

[2020-06-08 14:31] amatosg commented on #135
and which would be your point? I'm trying to understand the feature request :)

[2020-06-09 02:51] amatosg commented on #179
If you have any other ideas, please let me know [here](https://gitlab.com/amatos/rest-countries)

[2020-06-09 02:52] amatosg commented on #178
If you have any other ideas, please let me know [here](https://gitlab.com/amatos/rest-countries)

[2020-06-09 03:02] amatosg commented on #177
After I took my time to research, there is no official currency for Antarctica. Although each base can accept its local currency, Antactica itself doesn't have an official one.

[2020-06-09 03:36] amatosg commented on #176
I think that's because there are no cities in the db, you're welcome to add them [here](https://gitlab.com/amatos/rest-countries) so it would be shown [here](https://restcountries.com/v2/all)

[2020-06-09 03:40] amatosg commented on #175
I added the currency in my project that works almost exactly like this one. You can see it [here](https://restcountries.com/v2/name/turkey?fields=currencies). My project is [here](https://gitlab.com/amatos/rest-countries/)

[2020-06-09 03:44] amatosg commented on #175
I added the Turkish Lira in my project [here](https://gitlab.com/amatos/rest-countries). You can see the result [here](https://restcountries.com/v2/name/turkey?fields=name;currencies;languages)

[2020-06-09 04:17] amatosg commented on #174
I fixed it in my project, you can see it [here](https://restcountries.com/v2/name/india?fields=population;name;capital) (it's a clone of this, but updated 😉 )

[2020-06-09 04:44] dbize commented on #177
I opened this issue because the Chilean base accepts its local currency, Chilean Peso (CLP).

[2020-06-09 04:46] amatosg commented on #177
that's what I meant with _Although each base can accept its local currency_. Each base accept its currency, but **officially** it doesn't have a currency. I mean no disrespect here, really.

[2020-06-09 04:48] dbize commented on #177
That's ok but is unclear what that means for this issue.

[2020-06-09 04:50] amatosg commented on #177
it means that Antarctica shouldn't have any currency, it should be an empty array

[2020-06-09 05:21] MonilBhavsar commented on #174
Please Push that changes in the main repo, so that everyone is benefited by the updated data :)

[2020-06-09 13:15] felixdorn commented on #135
I totally misunderstood your point and mine. That's what I meant, yeah, sorry.

[2020-06-09 15:01] amatosg commented on #174
the reason for me to clone this project is that there wasn't any activity for the last 14 months. The API for this project is https:/restcountries.eu and I have created [https:/restcountries.com](https:/restcountries.com) the functionality is the same and it's available to everyone :)

For India, [the example I showed you](https://restcountries.com/v2/name/india?fields=population;name;capital) ret

[2020-06-09 18:06] MonilBhavsar commented on #174
How can I get the data by its alpha code from your api?
For Eg: https://restcountries.eu/rest/v2/alpha?codes=in

[2020-06-09 18:52] amatosg commented on #174
As I have a slightly different implementation, in mine goes like this: https://restcountries.com/v2/alpha/codes=in

[2020-06-15 06:03] yavrumian commented on #106
hey, any news?

[2020-06-15 14:16] amatosg commented on #106
Hi @yavrumian, sadly this project looks stale. I've cloned this project and fixed this issue and is available at https://restcountries.com/v2/name/armenia. To show only certain fields it would be like https://restcountries.com/v2/name/armenia?fields=languages,name (note it uses colon instead of semicolon). The functionality is almost the same, there are a few things that need to change, this infor

[2020-06-17 23:38] amatosg commented on #150
@aoiotoko you're correct. Mexico is in North America. I have a cloned project [here](https://gitlab.com/amatos/rest-countries). You can check Mexico [here](https://restcountries.com/v2/alpha/codes=mx).

[2020-06-22 20:09] yavrumian commented on #106
Hey, thanks for the response, I think I can close this issue

[2020-06-22 20:09] #106 closed

[2020-06-23 11:23] mewa opened #184 "Faroe Islands are not a part of the EU"
`https://restcountries.eu/rest/v2/regionalbloc/eu` lists Faroe Islands as part of the EU. Wikipedia says the following and it seems to be right in this case:

[2020-07-08 17:42] flikkr opened #185 "Typo in currency of American Samoa"
The currency is the US dollar, but it is written as "United State dollar" instead of "United State**s** dollar" like other countries.

[2020-07-09 02:39] amatosg commented on #185
As this repository is not as active as I would love to, I've cloned it. I corrected the typo [here](https://restcountries.com/v2/name/samoa).

[2020-07-09 09:02] flikkr commented on #185
Thanks, is there any rate limiting on your clone?

[2020-07-09 18:08] amatosg commented on #185
None that I know of :)

[2020-07-15 21:20] abderrahimbouali opened #186 "issue in Morocco's data"
please check the `translations `object: you have written مراكش as a value for `fa` but مراكش which is Marrakech in English it's a city in Morocco

[code]

[2020-07-15 22:34] amatosg commented on #186
what would be the correct value?

[2020-07-19 00:03] abderrahimbouali commented on #186
it should be المغرب

[2020-07-21 03:47] amatosg commented on #186
@abderrahimbouali as this project doesn't show much activity, I decided to clone this project. You can find the fixed version [here](https://restcountries.com/v2/name/morocco?fields=name,translations). If you have any other issues, please add an issue [here](https://gitlab.com/amatos/rest-countries)

[2020-07-21 04:52] amatosg commented on #184
@mewa as this project doesn't show much activity, I decided to clone this project. You can find the fixed version [here](https://restcountries.com/v2/name/faro?fields=name,regionalBlocs). If you have any other issues, please add an issue [here](https://gitlab.com/amatos/rest-countries)

[2020-07-21 04:55] amatosg commented on #171
well, take region as Continent, although you're right: it should be Continent instead of Region and Region instead of Subregion.
BTW: Mexico is in North America, but Honduras is in Central America.

[2020-07-22 00:33] boson-higgs opened #187 "Missing Central Europe"
Please look at https://en.wikipedia.org/wiki/Central_Europe and edit countries which belong to Central Europe.
For instance you have at Czech Republic - Eastern Europe and at Austria - Western Europe -> that's geographically impossible.

[2020-07-22 01:03] boson-higgs commented on #187
@amatosg are you going to fix it in your fork on GitLab or do I have to make new issue in your GitLab's repo?

[2020-07-22 01:05] boson-higgs commented on #187
@amatosg are you going to fix it in your clone on GitLab or do I have to make new issue in your GitLab's repo?

[2020-07-22 01:06] amatosg commented on #187
you are correct, Austria is not in Western Europe. I will be fixing this tonight. Regarding issues, I would appreciate issues in my repo :) but I'm watching this repo _just in case_

[2020-07-22 05:02] haluunn opened #188 "Malaysia missing language iso639_1 code"
The code should be 'ms', according to https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

[2020-07-22 06:44] amatosg commented on #188
could you be more specific? There is no Malay translation

[2020-07-22 06:48] amatosg commented on #187
Fixed! 😃  🇨🇿
https://restcountries.com/v2/name/Czech

[2020-07-23 03:30] haluunn commented on #188
When running this in python
requests.get(url='https://restcountries.eu/rest/v2/name/Malaysia?fullText=true')

I got the result:
[{'name': 'Malaysia', 'topLevelDomain': ['.my'], 'alpha2Code': 'MY', 'alpha3Code': 'MYS', 'callingCodes': ['60'], 'capital': 'Kuala Lumpur', 'altSpellings': ['MY'], 'region': 'Asia', 'subregion': 'South-Eastern Asia', 'population': 31405416, 'latlng': [2.5, 112.5], 'demon

[2020-07-23 14:18] amatosg commented on #188
this has been fixed [here](https://restcountries.com/v2/name/Malaysia?fullText=true). Is not from this project, but another project based on this one.

[2020-07-25 14:57] mikerockett commented on #171
Just bumped into this as well – continents need to be added separately. Regions are not the same thing.

[2020-07-26 08:57] syedmahmad opened #189 "Pakistan official language is Urdu."
Pakistan official language is urdu but in JSON response, priority language is english
![image](https://user-images.githubusercontent.com/29013374/88475257-a53baa80-cf47-11ea-9672-26d2e89c077c.png)
Urdu should be in top priority like if you check indian languages you can see Hindi is in top priority.
![image](https://user-images.githubusercontent.com/29013374/88475282-de741a80-cf47-11ea-8f5d-ecc89a

[2020-07-27 02:32] amatosg commented on #171
So, I decided to address this issue as it's actually the correct way to name those fields. As this project doesn't show much activity, I have another version. You can find the corrected version [here](https://restcountries.com/v2/alpha/codes=mx?fields=name,continent,region).

[2020-07-27 02:36] amatosg commented on #189
As this project doesn't show much activity, I've addressed this issue in [my](https://gitlab.com/amatos/rest-countries) project. You can find the corrected version [here](https://restcountries.com/v2/alpha/codes=pk?fields=name,continent,languages).

[2020-07-27 05:24] mikerockett commented on #171
Thanks for putting that up. 🙂 I figured nothing might be updated on the repo, so landed up going with https://datahub.io/core/country-codes, which contains all the data I need.

[2020-07-27 05:30] mikerockett commented on #171
I just had a look at your commit for this, and noticed that it isn't entirely correct. Will open an issues on your repo. 🙂

[2020-07-27 13:16] syedmahmad commented on #189
Thanks @amatosg appreciate it.

[2020-08-09 08:15] MarcoMadera opened #191 "Suriname has no border with France"
[![](https://i.imgur.com/HltE11N.png)](https://i.imgur.com/HltE11N.png)

[2020-08-10 00:02] amatosg commented on #191
I fixed this in my own project. You can check the fixed version [here](https://restcountries.com/v2/name/suriname?fields=name,borders). Cheers

[2020-08-10 00:04] amatosg commented on #191
if you find any other issue, you can submit it [here](https://gitlab.com/amatos/rest-countries/-/issues).

[2020-08-10 07:34] ePascalC commented on #191
Suriname has a border with French Guiana, an oversees department of France, so it DOES have a border with France.

[2020-08-10 16:07] amatosg commented on #191
ohhh, you're right! I reverted the changes [here](https://restcountries.com/v2/name/suriname?fields=name,borders).

[2020-08-12 00:06] MarcoMadera commented on #191
Ok, in that case brazil should have a border with France too? [Brazil-France border](https://en.wikipedia.org/wiki/Brazil%E2%80%93France_border)

Brazil borders:
![brazil-borders](https://user-images.githubusercontent.com/17222523/89960851-ae926b80-dc05-11ea-87be-b3e6944b35e6.png)

[2020-08-12 01:06] amatosg commented on #191
I think it should. This applies the same as with Suriname, right?

[2020-08-14 03:30] SwarnenduDasKW opened #192 "Searching with "uni" gave more than usual results"
https://restcountries.eu/rest/v2/name/uni

The search returns Comoros, Jordan, Mexico and Myanmar!! Not sure what is logic behind partial text search.
![image](https://user-images.githubusercontent.com/41870788/90210770-edb6ed00-ddbc-11ea-99d1-4cf72b8afb55.png)

[2020-08-14 04:04] amatosg commented on #192
Well, Mexico's full name is United States of Mexico. Then you have Union of the Comoros and Republic of the Union of Myanmar. I'm trying to find out why is Jordan in the list.

[2020-08-14 05:01] SwarnenduDasKW commented on #192
Thank you for the explanation. Now it makes sense.

[2020-08-15 10:47] ashishbeck opened #193 "The data for currencies are mixed up in many places"
There are multiple places where the currencies section has more than one entry which doesn't make sense and it makes data interpretation difficult.

![image](https://user-images.githubusercontent.com/20200594/90310806-bfe3bc80-df12-11ea-89e7-ab731f8b4f32.png)

[2020-08-15 17:50] amatos-aeropost commented on #193
Well, there are countries in which you can trade in different currencies. For Tuvalu, for instance, the Wikipedia states that they have both currencies as official.

[2020-08-15 17:51] amatosg commented on #193
Well, there are countries in which you can trade in different currencies. For Tuvalu, for instance, the Wikipedia states that they have both currencies as official.

[2020-08-18 10:15] bempus opened #194 "API for Daylight Saving Time (DST)"
Is there any plans on adding DST/offsets to the timezones? Would be very handy to have.

[2020-08-18 14:14] renato-bohler opened #195 "Are we down? (error 521)"
I'm receiving this error when trying to fetch anything from `restcountries.eu`

![image](https://user-images.githubusercontent.com/25781956/90523962-df156080-e143-11ea-9fba-57ef7e68416d.png)

[2020-08-18 14:15] tday opened #196 "521 Error when accessing API"
Looks like the host is down. Any ETA on when the host will be brought back, if at all? Thanks!
![Screen Shot 2020-08-18 at 10 15 27 AM](https://user-images.githubusercontent.com/13629388/90524201-c6a14800-e13b-11ea-954d-7adc8578ec3a.png)

[2020-08-18 14:20] amatosg commented on #195
I have a similar project to this. You can try it on [here](https://restcountries.com/v2/alpha/codes=pe) (note that mine is _.com_ and not _.eu_)

[2020-08-18 14:21] amatosg commented on #196
I have a similar project to this. You can try it on [here](https://restcountries.com/v2/alpha/codes=pe) (note that mine is _.com_ and not _.eu_)

[2020-08-18 14:24] renato-bohler commented on #196
Duplicate of #195

[2020-08-18 14:27] MonilBhavsar commented on #196
https://gitlab.com/amatos/rest-countries is an active alternative of this repo

[2020-08-18 14:41] j-hit commented on #195
@fayder any ideas why it is down?

[2020-08-18 14:42] #196 closed

[2020-08-18 14:42] tday commented on #196
Closing for the other issue that was opened almost simulataneously!

[2020-08-18 14:45] najamulabideen commented on #195
It's down for the last 2 hours now. Any idea what's going on guys?

[2020-08-18 14:48] amatosg commented on #195
You can check [this](https://gitlab.com/amatos/rest-countries) actually active project and call the APIs according to the docs.

[2020-08-18 14:58] j-hit commented on #195
I tagged [apilayer](https://apilayer.com/) in a tweet to see if they are aware of this.

Please retweet. Pinned to top of https://twitter.com/dj_jhit

[2020-08-18 15:01] fayder commented on #195
Please contact @apilayer Unfortunately I can't do anything as I don't own this project anymore.

[2020-08-18 15:06] j-hit commented on #195
Thanks @fayder for your response. Reached out to them via twitter. Do you know the best way to get in touch with them?

[2020-08-18 16:04] descaloni-cc commented on #195
Any update from apilayer or status update at all?

[2020-08-18 16:05] SaracenoNicolas commented on #195
I tried to reach @apilayer but their work hour starts in 4 hours so probably can't expect much until then

[2020-08-18 16:49] renato-bohler commented on #195
@amatosg I was trying to use this as an alternative to `restcountries.eu`, but I'm being blocked by CORS. I've submitted this [issue](https://gitlab.com/amatos/rest-countries/-/issues/11).

[2020-08-18 17:10] amatosg commented on #195
Thanks! talk to you over there.

[2020-08-18 18:36] amrfaissal commented on #195
@amatosg Do you have documentation of your version of the API? Thanks!

[2020-08-18 18:41] renato-bohler commented on #195
Its timing out now, instead of returning 521 error.

[2020-08-18 18:45] SaracenoNicolas commented on #195
it is working for me now

[2020-08-18 19:54] #195 closed

[2020-08-18 20:55] amatosg commented on #195
is almost the same (for the sake of simplicity) https://gitlab.com/amatos/rest-countries

[2020-09-07 12:53] fais3000 opened #197 "How does one deploy this project?"
This is an amazing resource, however https://restcountries.eu sometimes go down. Is there a way to self host this? Any instructions?

[2020-09-07 15:14] amatosg commented on #197
well, you have [https://restcountries.com/](https://restcountries.com/v2/name/austria) :) (documentation [here](https://gitlab.com/amatos/rest-countries))

[2020-09-07 15:20] fais3000 commented on #197
@amatosg Thanks, we actually moved to https://restcountries.com because https://restcountries.eu went down in august. But https://restcountries.com was down for about 6 hours today too, that's why looking to self host. Do you have docs on self deploying?

[2020-09-07 15:25] amatosg commented on #197
yeah, I realized there as an issue with the SSL proxy while posting this, otherwise it would have gone unnoticed (by me, of course lol). I'm going to post all the code in that repo. There are some credentials in the code, so I cannot post it right now, but I'll make some time in a few days with all the instructions :)

[2020-09-07 17:36] fais3000 commented on #197
@amatosg Sounds good. Happy to contribute, i'm also figuring out how to convert this to dockerized version for easy self hosting.

[2020-09-07 17:37] amatosg commented on #197
I have it dockerized, I'll make those images available very soon

El lun., 7 sept. 2020 a las 12:36, fais3000 (<notifications@github.com>)
escribió:

[2020-09-07 17:45] FaizanZahid commented on #197
@amatosg we are facing the exact same issue,  would love to have this self hosted. cant wait to see the instructions , guide and images.

[2020-09-08 09:43] FaizanZahid opened #198 "restcountries.com is going down frequently"
hi,

I have noticed this a number times that https://restcountries.com goes down with either 502 error or 404. Right now if I go on that url I am getting 404 error.
![image](https://user-images.githubusercontent.com/9073066/92461318-0e5a4300-f1c1-11ea-966a-48aeae199c6d.png)

Can you guys please fix this and keep it 200 ok response ? Also is there any other way for us to use this API internally or

[2020-09-08 09:49] ePascalC commented on #198
Hi, this repository is all about restcountries.eu and has nothing to see with the forked .com version.

[2020-09-08 09:51] FaizanZahid commented on #198
@ePascalC ok , can you please share with me the repo URL of the https://restcountries.com/ >?

[2020-09-08 15:04] fais3000 commented on #197
If any one stumbles on this issue. I used one of the forks of this repo and added deployment instructions for others. https://github.com/fais3000/restcountries

[2020-09-08 15:04] #197 closed

[2020-09-08 16:08] FaizanZahid commented on #197
awesome work @fais3000 in contributing on open source

[2020-09-14 13:23] Stavros3 opened #199 "Wrong Country Name"
Hello.
Country with code:
"alpha2Code": "MK",
"alpha3Code": "MKD"
Has wrong name.
The official name according the UN.org is the Republic of North Macedonia (short form: North Macedonia)
https://www.un.org/en/member-states/#gotoN

[2020-09-19 14:00] Arsh1a opened #200 "Populations are so outdated."
Are there any plans for updating the information?

[2020-09-19 16:56] amatosg commented on #200
please update the discrepancies to help the community

[2020-09-22 22:40] romanzadorov opened #201 "Wrong UTC time in Tbilisy, Georgia"
It has timezones: ["UTC-05:00"]. The correct one is UTC+04:00 (https://24timezones.com/Georgia/time)

[2020-09-25 08:31] amatosg commented on #198
If you want to run it locally, you can use the docker image:
`docker pull registry.gitlab.com/amatos/rest-countries:latest`
and run it with
`docker run -d -p 8080:8080 registry.gitlab.com/amatos/rest-countries:latest`

[2020-10-01 07:07] amatosg commented on #201
I fixed this issue in [this](https://gitlab.com/amatos/rest-countries/-/commit/21e262b5e95bc8e7f4374bbdccd9d20e23559e6d) commit. You can check the updated version [here](https://restcountries.com/v2/name/georgia). Full project [here](https://gitlab.com/amatos/rest-countries/).

[2020-10-03 23:47] lennertVanSever opened #202 "Brazil should border Suriname"
If you check the bordering countries of Suriname https://restcountries.eu/rest/v2/name/suriname, you will see that France is a bordering country. However, for Brazil, this isn't the case https://restcountries.eu/rest/v2/name/brazil while it should

[2020-10-04 00:27] amatosg commented on #202
but Suriname is being shown in the list of borders for Brazil

[2020-10-04 00:31] lennertVanSever commented on #202
What I mean is that Brazil should border France. Since it's bordering French Guiana which is a French department

[2020-10-04 00:33] amatosg commented on #202
I think the logic is that Guyana borders France as it's part of France, but it doesn't particularly means that Brazil, by extension, borders France

[2020-10-04 00:37] lennertVanSever commented on #202
<img width="742" alt="Screenshot 2020-10-04 at 02 34 20" src="https://user-images.githubusercontent.com/23064517/95004341-33887880-05ea-11eb-8043-a89c40eb61a0.png">
This is a screenshot from google maps, as you can see both Suriname and Brazil border "French Guyana" which is France. In the API call for Suriname I get the following bordering countries which include France:
[code]
While for Brazil I

[2020-10-04 00:43] amatosg commented on #202
I was confusing French Guyana with Suriname :) my bad. I think the error is considering France bordering Suriname, but I'm not sure. Is there any references to corroborate this information?

[2020-10-04 00:56] zocky commented on #202
French Guyana is France the same way as Paris is France.

[2020-10-04 01:22] amatosg commented on #202
it's easier and less prone to errors to link a reference rather to just state "it does". I took the exhausting job of entering a single query into the wikipedia and found [this](https://en.wikipedia.org/wiki/Borders_of_Brazil), which makes @lennertVanSever's poing.

[2020-10-04 01:28] amatosg commented on #202
So, I fixed this issue in a [cloned project](https://restcountries.com/) as this doesn't have much activity. You can find the source [here](https://gitlab.com/amatos/rest-countries) and check the fix [here](https://restcountries.com/v2/name/brazil).

[2020-10-06 12:27] Flow09AT opened #203 "Wrong 3 Digit ISO Code for Netherlands Antilles"
Correct ISO code is **ANT** not ANG
See https://www.iso.org/obp/ui/#iso:code:3166:AN

[2020-10-06 17:39] amatosg commented on #203
what's the full URL you're using to get the Netherlands Antilles' info?

[2020-10-17 17:35] Arsh1a commented on #200
I would gladly do but need a guide on how to that.

[2020-10-17 18:09] amatosg commented on #200
If you just list the correct values I would gladly update it

El sáb., 17 de octubre de 2020 12:35, Arshia Faraji <
notifications@github.com> escribió:

[2020-10-17 19:38] Arsh1a commented on #200
@amatosg I've forked the repo and I'm working on it. Will request-pull as soon as it gets ready!

[2020-10-27 13:34] Esul opened #205 "Wrong currency symbol for Georgian Lari"
Georgian Lari has its own symbol "₾", not just the letter "ლ".

[2020-10-27 16:17] amatosg commented on #205
In this case, the issue would be that the field `symbol` may only have one value. It would be necessary to add another currency with the same name and different symbol, which doesn't make any sense. The wikipedia only lists the ლ as the official currency (although the wikipedia page for Georgian Lari lists both currencies).

[2020-10-27 16:35] Esul commented on #205
In 2014 the Lari sign was officially changed to '₾'.
This date is also mentioned in wikipedia.
sources:
https://www.nbg.gov.ge/index.php?m=630
https://www.wikiwand.com/en/Georgian_lari#/Lari

[2020-10-27 17:22] amatosg commented on #205
and this

[2020-11-03 15:50] #205 closed

[2020-12-07 19:54] cureau commented on #139
Since this repo originally pulls from mledoze repo below, it should have the common names in that original dataset

https://github.com/mledoze/countries

[2020-12-13 14:14] lopeselio opened #206 "How do I fetch unique regions from the REST API?"

[2020-12-14 19:47] amatosg commented on #206
do you mean Europe, South America and so on?

[2020-12-15 06:19] lopeselio commented on #206
@amatosg yes solved ...

[2020-12-15 06:19] #206 closed

[2020-12-31 11:00] consoledot opened #207 "England, Scotland, Wales and Northern Ireland not available as a country"
The countries in the UK should be separated and should an individual country.

[2020-12-31 11:05] consoledot opened #208 "API should return an Object not Array when searching for a single country using the FullText."
The result from fetching this URL `https://restcountries.eu/rest/v2/name/${name}?fullText=true` should return an Object since we want to get a single country with the exact name.

[2021-01-05 14:53] SupportKraatje opened #209 "UK (GB) is not EU anymore !"
API still outputs it as an EU country.

[2021-01-09 09:03] shankyjain7243 opened #210 "Russia does not show up"
When searching for Russia
The following URL works : https://restcountries.eu/rest/v2/name/Russia
But this one retruns 404 : https://restcountries.eu/rest/v2/name/Russia?fullText=true

[2021-01-09 20:57] amatosg commented on #210
It might be because the field "name" for Russia is actually "Russian Federation"

[2021-01-10 17:59] nadfri opened #211 "Problem of Alphabet Order"
Hello,
 When i get list of all countries, some countries dont respect the alphabet order, like Virgin Islands, United States Minor, Cote d'Ivoir, Korea, Qatar.

Can you fix it?

[2021-01-11 08:21] SupportKraatje commented on #209
Will this be fixed ?

[2021-01-11 14:44] sopan11789 opened #212 "Can we get states/cities of country by country code"

[2021-01-11 16:57] amatosg commented on #212
that would be a titanic improvement. It can be made, but it will take many many hours. You are welcome to help.

[2021-01-27 10:58] Ladvace opened #214 "PayloadTooLargeError: request entity too large"
I'm trying to call `https://restcountries.eu/rest/v2/all` with **Axios** in **nodejs** but for some reason I get the following error:

`PayloadTooLargeError: request entity too large
`

[2021-01-30 10:18] marcusziade opened #215 "SVG File Crashes My Program"
Something is weird with the file at `https://restcountries.eu/data/ecu.svg`

No matter what I do, it crashes my Swift program.

[2021-02-02 11:04] khanhmas opened #216 "India border country with afghanistan"
In the api reponse of the India country, there is a mistake on the borders array:
1) the alpha3code of afghanistan (AFG) is inside the array. Though as far as i can tell,  Afghanistan is not a neighbor country with India
2) Nepal should be a neighbor country with China

[2021-02-04 08:32] arladmin commented on #216
https://en.wikipedia.org/wiki/Borders_of_India#Land_borders_of_India

[2021-02-04 08:38] khanhmas commented on #216
Thank for your information

But in the other hand, it's werid that India is not a neighbor country with Afghanistan.

[2021-02-04 14:34] miarkt opened #217 "Mauritania New Flag"
Mauritania has recently changed its flag.

You can check it out here : [https://fr.wikipedia.org/wiki/Mauritanie#/media/Fichier:Flag_of_Mauritania.svg](url)

[2021-02-08 10:45] walcom opened #218 "Country names are not provided in Arabic"
Hi
I would like to use , but I need the Arabic country name, which is not provided!
There is only in Farsi (Persian), but it is not accepted.
I can help providing translations, but how?

[2021-02-08 12:12] SupportKraatje commented on #209
Is this API dead !?

GB, GBR ........

Regional Blocs
Acronym	EU
Name	European Union

Not fixed, will move to another API. This one is outdated.

[2021-02-08 14:00] katesroad opened #219 "hongkong is a part of China, not a country, please revise it."
check this endpoint. https://restcountries.eu/rest/v2/name/China?fullText=true, please

[2021-02-08 16:55] amatosg commented on #219
I created another project that is updated more frequently. I updated the entry you're referring to and you can find it [here](https://restcountries.com/v2/name/kong).

The project can be found [here](https://gitlab.com/amatos/rest-countries).

[2021-02-08 17:06] amatosg commented on #218
Saldy this project doesn't get updated as often as we would like to. Because of that I cloned this project and it has the same functionality but the url is slightly different. You can see it [here](https://restcountries.com/). If you would like to add another language, you can edit this [file](https://gitlab.com/amatos/rest-countries/-/blob/master/countriesV2.json) and add your language to the "la

[2021-02-08 17:21] amatosg commented on #217
Mauritania's flag has been updated in [this](https://gitlab.com/amatos/rest-countries/) project (a clone that I made to update the project more frequently). You can see the file [here](https://restcountries.com/data/mrt.svg). For more info, see [here](https://restcountries.com/).

[2021-02-08 17:23] amatosg commented on #215
make a test and point the image to [here](https://restcountries.com/data/ecu.svg) and let me know.

[2021-02-08 18:32] walcom commented on #218
I almost finished adding the Arabic names, but I dont have the permission to save my changes

[2021-02-08 19:05] amatosg commented on #218
you have to create a pull request to the project (either mine or this one,
although this one might take a while, months maybe, to be merged)

El lun, 8 feb 2021 a las 13:32, Waleed Alhasan (<notifications@github.com>)
escribió:

[2021-02-08 19:23] amatosg commented on #209
You're right. This API is outdated, that's why I cloned this project. You can find it [here](https://gitlab.com/amatos/rest-countries). The fixed version for UK is [here](https://restcountries.com/v2/name/britain). I try to update the API within hours of filing an issue :)

[2021-02-10 14:49] #219 closed

[2021-03-05 15:13] LegendPhoenix66 opened #221 "Wrong native name for Luxembourg"
The native name for Luxembourg isn't Luxembourg. That would be the English or french name. in Luxemburgish its "Lëtzebuerg"

[2021-03-11 08:59] OlehTovkaniuk opened #222 "The capital of Ukraine is Kyiv not Kiev."
Kiev is the old USSR transliteration. Modern transliteration is Kyiv which is transliteration of ukrainian pronunciation while Kiev is transliteration of russian pronunciation. All the modern naming uses ukrainian transliteration since independence of Ukraine after USSR fall. You can check it on Wikipedia or Google Maps. https://en.wikipedia.org/wiki/Kyiv

[2021-03-12 09:00] russo97 opened #223 "missing .cioc"
Some countries like Anguilla, Antarctica and Bouvet Island do not have the `cioc` property configured correctly

here `cioc` should be filled with `ATA`

![image](https://user-images.githubusercontent.com/10843387/110916611-0b840a80-832a-11eb-8756-f59abff03586.png)

here `cioc` is filled properly

![image](https://user-images.githubusercontent.com/10843387/110916920-5aca3b00-832a-11eb-83fa-d37309a

[2021-03-26 03:14] samvaliant opened #224 "Missing Palestine"
The list of country stats is missing [Palestine](https://en.wikipedia.org/wiki/State_of_Palestine#:~:text=Since%20the%20British%20Mandate%2C%20the,Bank%20and%20the%20Gaza%20Strip.).

[2021-03-30 18:22] petmil123 opened #225 "Norway missing a language"
Northern Sami is an official language in Norway

[2021-04-10 06:37] virxen75 opened #226 "Kuwait borders"
"borders":["IRN","SAU"]

the correct is Iraq and not Iran

[2021-04-28 17:05] DevBaddy opened #230 "Vietnam is called Viet Nam"
It shouldn't be spaced out.

[2021-05-03 02:02] Jestella opened #231 "Alternative for Korea"
I can only get North Korea, not South Korea.

[2021-05-13 09:48] artkonr opened #232 "Any constraints/quotas for corporate use?"
Hey, a question rather than an issue: are there any constraints in terms of using the API for corporate systems? Any quotas applied?

[2021-05-13 16:03] amatosg commented on #232
as this project is not being updated as often as desired, I created a clone [here ](https://gitlab.com/amatos/rest-countries)where I update based on issues here. There is no constrains nor quotas: https://restcountries.com/

[2021-05-13 16:09] artkonr commented on #232
Gotcha, thanks.

[2021-05-13 16:10] #232 closed

[2021-05-13 16:20] amatosg commented on #231
when I search for Korea, I get 2 values: https://restcountries.com/v2/name/korea

[2021-05-13 16:23] amatosg commented on #230
According to the Wikipedia, it's a single word and not two 😟
https://en.wikipedia.org/wiki/Vietnam

[2021-05-13 17:10] amatosg commented on #222
[Issue](https://gitlab.com/amatos/rest-countries/-/issues/21) has been solved in [this](https://gitlab.com/amatos/rest-countries/) project. You can see the result [here](https://restcountries.com/v2/name/ukraine)

[2021-05-13 17:11] amatosg commented on #226
[Issue](https://gitlab.com/amatos/rest-countries/-/issues/20) has been solved in [this](https://gitlab.com/amatos/rest-countries/) project. You can see the result [here](https://restcountries.com/v2/name/kuwait).

[2021-05-13 17:18] amatosg commented on #225
According to Wikipedia:
_Sámi is an official language alongside Norwegian **in the "administrative area for Sámi language"**, that includes eight municipalities in the northern half of Norway, namely Kautokeino, Karasjok, Gáivuotna – Kåfjord – Kaivuono, Nesseby, Porsanger, Tana, Tysfjord, Lavangen and Snåsa_

It's not an official language per se, instead is an official language for certain regions

[2021-05-13 18:48] amatosg commented on #224
this [issue](https://gitlab.com/amatos/rest-countries/-/issues/22) has been fixed in [this](https://gitlab.com/amatos/rest-countries/) project. You can check the changes [here](https://restcountries.com/v2/name/palestine).

[2021-05-13 19:23] amatosg commented on #221
This [issue](https://gitlab.com/amatos/rest-countries/-/issues/23) has been closed in [this](https://gitlab.com/amatos/rest-countries/) project. You can check the result [here](https://restcountries.com/v2/name/luxe).

[2021-05-13 20:33] DevBaddy commented on #230
Yeah, but shouldn't it still be named Vietnam?

[2021-05-13 21:49] amatosg commented on #230
oh! sorry, I misunderstood you. I see it as a single word [here](https://restcountries.com/v2/name/vietnam). Is not this project, but a cloned made by me as the updates here are not as frequent as desirable. Check it out: https://restcountries.com/

[2021-05-13 22:46] DevBaddy commented on #230
Weird, I recently built a website that shows you all the countries that are in the world and for some reason, Vietnam's country name is spelt as Viet Nam. Sorry for the confusion.

[2021-05-21 13:43] AkramiPro opened #234 "United States Minor Outlying Islands Dial code"
the dial code for **United States Minor Outlying Islands** is +246 . please add this to api .

[2021-05-21 14:49] amatosg commented on #234
this [issue](https://gitlab.com/amatos/rest-countries/-/issues/25) has been fixed in [this](https://gitlab.com/amatos/rest-countries) project. You can see the change [here](https://restcountries.com/v2/name/ritish%20Indian%20Ocean%20Territory).

[2021-05-22 05:18] AkramiPro commented on #234
thank you 🌹

[2021-05-22 05:18] #234 closed

[2021-05-23 20:42] F1reMonster opened #235 "Change name capital of Ukraine"
You have wrong name capital of Ukraine, in your API use Kiev ithis transcription name used only russian who live in Russia, in all world used valid name Kyiv
https://en.wikipedia.org/wiki/Kyiv#cite_note-12

#KyivNotKiev

[2021-05-24 16:26] amatosg commented on #235
Please remember that this project hasn't seen many activity in the last months. I have cloned this project [here](https://gitlab.com/amatos/rest-countries). Please read the docs as, right now, there are 2 versions, each with different country structure. You can compare [V2](https://restcountries.com/v2/capital/Kyiv) and [V3](https://restcountries.com/v3/capital/Kyiv).

[2021-06-01 14:13] binamracode opened #237 "There should be Nepal in border countries of China"
If you try to fetch border countries of Nepal then there is China and India. If you fetch borders of India then there is Nepal too but when you fetch borders of China then there is not Nepal which there must be.

[2021-06-01 16:51] amatosg commented on #237
I added [this issue](https://gitlab.com/amatos/rest-countries/-/issues/27) to another [project](https://gitlab.com/amatos/rest-countries/). You can see the change in version 2 [here](https://restcountries.com/v2/name/china?fields=name,borders) and version 3 [here](https://restcountries.com/v3/name/china?fields=name,borders).

[2021-06-11 13:18] svdHero commented on #131
Any update on this? This is a crucial feature that is stopping us from using this library. China is an important market and if we cannot display country names in Chinese this great library is useless for us.

[2021-06-11 18:01] amatosg commented on #131
@svdHero & @MikhailVolkov350504  you can use [this](https://restcountries.com) project to get Chinese translations, [like](https://restcountries.com/v3/name/peru?fields=name,translations) in this example. Repository is [here](https://gitlab.com/amatos/rest-countries).

[2021-06-15 16:11] gear4s opened #238 "API is timing out on website"

[2021-06-15 16:23] gear4s commented on #238
@amatosg your fork does not allow issues. https://restcountries.com/v2/regionalbloc/au has an internal server error

[2021-06-15 16:30] amatosg commented on #238
It does: https://gitlab.com/amatos/rest-countries/-/issues

I will move it to github just for ease of use. I will take a look at what's happening today :)

[2021-06-16 15:53] ianbunn commented on #238
Hey @amatosg , was this issue resolved? I did notice that in Incognito/Private mode, it takes ~10 seconds to fetch countries.

[2021-06-16 15:57] amatosg commented on #238
@ianbunn it takes 515ms on incognito mode to load all countries, try hitting F12 and click on the _Network_ tab to check how long it takes

@gear4s you're correct, the throws a 500 when calling that url, I'll take a look at that

[2021-06-16 15:58] ianbunn commented on #238
Gotcha, just re-ran a test and it loaded in 2ms. Thank you for looking, @amatosg !

[2021-06-18 01:56] amatosg commented on #238
@gear4s bug fixed in my repo. You can retry now

[2021-06-22 14:19] fricek opened #239 "time out API"
hello,
here is the code:
url = f'https://restcountries.eu/rest/v2/name/{self.country}'
            response = requests.get(url=url)

and it give me:
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='restcountries.eu', port=443): Max retries exceeded with url: /rest/v2/name/FRANCE (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000024ED3C90080>:

[2021-06-22 15:39] amatosg commented on #239
It might be temporary as I tried and it works. You can also try [this](https://gitlab.com/amatos/rest-countries) repository which is more up-to-date. Here is my [V2](https://restcountries.com/v2/name/france) and [V3](https://restcountries.com/v3/name/france) for France.

[2021-06-27 03:55] lepatachou opened #240 "Holy see in french is Saint-Siège"
Hi

Thanks for this API !
Just a few fixes for the French translation :
- Holy see is "Saint-Siège" (and the capital is "Vatican city")
- Kosovo = Kosovo in french

[2021-06-27 04:16] amatosg commented on #240
I cloned this project [here](https://gitlab.com/amatos/rest-countries) and released [here](https://restcountries.com/) (as .com instead of .eu). I added the [French translation to Kosovo](https://restcountries.com/v2/name/kosovo) and corrected the [French translation for Saint Siège](https://restcountries.com/v2/name/vatican%20city).

[2021-07-15 06:19] K2ouMais opened #241 "ISO-639-1 for Malaysia"
Hello everyone,

Wikipedia says ISO-639-1 (Language) for Malaysia is "ms".

https://de.wikipedia.org/wiki/Liste_der_ISO-639-1-Codes

Could you please extend your data, so that iso639_1 is "ms" and you still could leave iso639_2 as "zsm".

Thank you for the awesome API.

Greets from Germany
Joao Alves

[2021-07-15 07:15] amatosg commented on #241
Hi @K2ouMais!

I have a clone of this project, you can see that Malaysia with the corrected information in a similar version as this project [here (V2)](https://restcountries.com/v2/name/malaysia) and a richer version [here (V3)](https://restcountries.com/v3/name/malaysia). If you have ideas, you can check the project [here](https://gitlab.com/amatos/rest-countries).

[2021-07-15 08:24] K2ouMais commented on #241
Hi @amatosg,

I just saw this is implemented already on v2.

Sorry for this Issue and thanks for implementing it.

[2021-07-15 08:24] #241 closed

[2021-07-15 14:18] amatosg commented on #241
@K2ouMais please bare in mind that the implementation is **not** done in **THIS** project.

[2021-07-16 00:41] fish-404 opened #242 "API with empty parameters"
I find if I pass name parameter in empty, the API will return HTTP 404.
Example: https://restcountries.eu/rest/v2/name/

Do you have some plans to enhancement this ?
Take an example, if I left the parameter empty, you can return a full list or empty list instead of HTTP404.

[2021-07-16 15:19] amatosg commented on #242
you should use https://restcountries.eu/rest/v2/all

[2021-07-20 00:38] fish-404 commented on #242
Thank you . I know this API. Just suggust handle the wrong parameters for the API instead of return HTTP 404.

[2021-07-20 05:09] vidarshanadithya opened #243 "Change the capital of Sri Lanka"
Capital of Sri Lanka is **Sri Jayawardenepura Kotte**, not Colombo as per the API.

[2021-07-20 16:00] amatosg commented on #243
I have a project almost identical to this one [here](https://gitlab.com/amatos/rest-countries) where I update often. I've corrected Sri Lanka and it's available in 2 versions: [V2](https://restcountries.com/v2/name/sri?fields=name,capital) and [V3](https://restcountries.com/v3/name/sri?fields=name,capital) :wink:

[2021-07-20 16:44] amatosg commented on #242
it's an API, so the consumer should know exactly what endpoint it's being called. Handling placeholders doesn't make sense

[2021-07-22 02:34] #242 closed

[2021-07-22 10:08] vidarshanadithya commented on #243
Sorted

[2021-07-22 10:08] #243 closed

[2021-07-23 08:54] Joseph-WGD opened #244 "Missing Spanish Translations"
Hey team,

We're currently using this API to call a list of countries with Spanish translations, however we've found these countries are appearing blank on our Spanish dropdowns.

![S9HnutlUi1](https://user-images.githubusercontent.com/87853798/126759146-df2237fe-a4be-4a7e-935e-cf735c2b74c6.gif)

Any help / support would be really appreciated!

[2021-07-23 15:14] amatosg commented on #244
what's the endpoint you're using?

[2021-08-03 06:43] sdalen11 opened #245 "Macedonia (the former Yugoslav Republic of) needs to be renamed to North Macedonia"
Due to Greece vs. Macedonia dispute, Macedonia had to change its name.

[2021-08-03 14:22] notjasonknott commented on #211
Hey just bumping this issue up. It's still a problem.

![image](https://user-images.githubusercontent.com/28274424/128032095-1172ddeb-4f6b-4359-a215-01f88eddb5f1.png)

Could you look into fixing this?

[2021-08-09 06:06] zaidzak9 opened #246 "/all response begins with a array [ array and not { object"
Why does the api response for https://restcountries.eu/rest/v2/all does not begin with object?
<img width="66" alt="Screen Shot 2021-08-09 at 2 06 09 PM" src="https://user-images.githubusercontent.com/11702972/128665713-78cbe61c-bc27-4c14-a5b2-490f60549168.png">

[2021-08-09 16:20] amatosg commented on #246
because is an array of countries

[2021-09-13 15:45] MrSimh opened #247 "Afghanistan Flag"
The flag need to be updated since the recents events.

[2021-09-13 15:46] MrSimh opened #248 "Mauritanie Flag"
The flag of mauritania is not correct since may 2020  https://fr.wikipedia.org/wiki/Drapeau_de_la_Mauritanie

[2021-09-13 15:47] MrSimh opened #249 "Swaziland Country Name"
This is not Swaziland any more, its "Eswatini" the offical name of this country.

[2021-09-13 17:19] amatosg commented on #249
you can find an updated version [here ](https://restcountries.com/v3/name/Eswatini):)

[2021-09-13 17:20] amatosg commented on #248
same here: https://restcountries.com/v3/name/Mauritania

[2021-09-14 07:27] MrSimh commented on #249
oh ok, I have to use the v3 then, Thank you !

[2021-09-14 19:16] amatosg commented on #249
please bear in mind that the provided URL is not from this project, but from another one cloned by me to keep the data up to date as this project is not being updated for a while now :)

[2021-09-22 03:37] od3n opened #250 "Endpoint down?"

[2021-09-22 03:57] od3n commented on #250
Just found a fork for this with the new URL https://gitlab.com/amatos/rest-countries

[2021-09-22 03:58] od3n commented on #249
Thanks @amatosg for the fork and update. Just notice the previous URL is down today

[2021-09-22 04:55] amatosg commented on #249
what do you mean? I see V2 and V3 working :(

[2021-09-22 04:56] amatosg commented on #250
indeed, that's my fork of this project while also adding V3 with more/better information :)

[2021-09-22 05:16] od3n commented on #249
sorry, I mean restcountries.eu domain, not restcountries.com

[2021-09-22 05:18] od3n commented on #250
Can I confirm for the field separator you're using a comma instead of semicolon?

[2021-09-22 06:24] amatosg commented on #250
Yes, I use comma, otherwise I get a security error, sorry about that :(

[2021-09-22 07:37] #250 closed

[2021-09-22 11:49] meta72 opened #251 "Invalid certificate for restcountries.eu"
The SSL certificate for restcountries.eu is issued for shortener.secureserver.net making requests fail. Please update your certificate.

[2021-09-22 12:40] mcknight89 commented on #251
The same issue, if I ignore the SSL, I get a Cloudflare error so my guess is the service is just down.

[2021-09-22 12:44] wollanup commented on #251
it may help :
[code]

With another server:

[code]

[2021-09-22 12:52] wollanup commented on #251
Also checked https://www.ssllabs.com/ssltest/analyze.html?d=restcountries.eu
Result seems bad with message
[code]

[2021-09-22 13:56] MrSimh opened #252 "Hard to reach the api today ?"
Hello,

I run the api with this url for my little app : https://restcountries.eu/rest/v2/all?fields=name;population;capital;flag;region;alpha2Code

But today i have a lot of 502,503 and 504 error,
I am redirected here : http://countrylayer.com/rest/v2/all?fields=name;population;capital;flag;region;alpha2Code

Is anyone have the same ?

Thx

[2021-09-22 15:41] egpotter commented on #252
There are more people complaining here https://github.com/apilayer/restcountries/issues/251. We also face the same

[2021-09-22 16:30] amatosg commented on #252
you can use https://restcountries.com instead :) it's a clone of this project that is updated more regularly

[2021-09-22 16:31] amatosg commented on #251
you can use https://restcountries.com/ instead :) (it's a clone)

[2021-09-22 17:27] mark909099 opened #253 "What happend to the api? is it down forever? will it come back?"
The url "https://restcountries.eu/rest/v2/all" doesn't give countries information.

It display error message: "The page you requested could not be found. Try refining your search, or use the navigation above to locate the post".

[2021-09-22 20:11] heychazza commented on #252
Is yours open sourced?

[2021-09-22 20:35] fanetech commented on #253
how do?
i'have the same problem

[2021-09-22 20:43] amatosg commented on #253
you can check this information

https://gitlab.com/amatos/rest-countries/-/blob/master/README.md

[2021-09-22 20:45] amatosg commented on #252
yes, I keep the original license and it's available for free :)

[2021-09-22 21:19] amatosg commented on #249
yes, it looks like they haven't renewed the SSL certificate :(

[2021-09-23 06:15] Vitaljok commented on #252
@amatosg, just to keep it honest for your potential new audience, you should mention that `https://restcountries.eu/rest/v2/all` and `https://restcountries.com/v2/all` are not compatible and have different field names.

So the one who wants to migrate to new API have also to modify his code, not just URL.

[2021-09-23 06:48] amatosg commented on #252
I never said to "just change the URL", I pointed to the site with the documentation to use the API. If the docs are not clear, please let me know and I will make the amendments.

[2021-09-23 06:49] heychazza commented on #252
Yeah, I realised that… I ended up forking the original url, and using the dist countries.json file in my app

[2021-09-23 06:54] amatosg commented on #252
If you just need the json file, I get it from [here](https://github.com/mledoze/countries/blob/master/countries.json) :)

[2021-09-23 06:57] heychazza commented on #252
I’m currently using https://github.com/octanna/restcountries/blob/master/src/main/resources/countriesV2.json as it’s the exact data structure that the restcountries.eu was using.

No other api including yours contains population, and the JSON Object Structure is completely different.

[2021-09-23 07:17] heychazza commented on #252
Is it possible to have the same structure as the .eu API on your domain, but with the ability to see all countries? And PNG for flag is awesome.

[2021-09-23 07:27] amatosg commented on #252
yeap :) almost all the functionallity available here is also available in V2 (Although I think I made the mistake of changing the URL structure)

https://restcountries.com/v2/all

[2021-09-23 07:44] heychazza commented on #252
Oh awesome, I’ll try this in my app soon then instead and see if there are any issues.

[2021-09-23 09:49] heychazza commented on #252
Seems subregions is the only thing missing

[2021-09-23 10:08] heychazza commented on #252
Hey buddy, most of this seems perfect, only issue I see is;
- `subregion` is now `region`.
- `region` is now `continent`.

These are perfectly fine, but mainly for others to consider, only issue I see is that some things don't have a `region` key, could these be present but just null?

[2021-09-23 12:34] Developer-Raman commented on #253
This now available in v3 version.
Please check out [https://restcountries.com](https://restcountries.com/)

[2021-09-23 16:29] amatosg commented on #252
I've created an issue [here](https://gitlab.com/amatos/rest-countries/-/issues/38) to keep track of what you mention.

I just went through the file and found only a couple of cases in which `region` was not set but was present as empty. Could you tell me which country does not have the `region` field?
thanks!

[2021-09-23 16:46] dhernandezmartinez commented on #252
@amatosg Hi there, I test your v3 solution and I found some issues in some calling codes, for example Mexico, its calling code is 52 but the API returns 484, insted I tested your v2 and I believe the returning information is more trusthy, takes for telling us abut your solution, hope the project continue and keep increasing.

[2021-09-23 16:54] amatosg commented on #252
@dhernandezmartinez  I'm sorry, but I just checked and V3 doesn't have calling code. It has a composite code called "idd" and it is actually 52 :/

[2021-09-24 07:13] mark909099 commented on #253
Thanks alot!

[2021-09-24 10:53] AntonioChicano commented on #253
The https://restcountries.com/ API works very well minus the flags.
For some reason, the flags do not show them and I have checked my code but everything is fine.

because it can be?

[2021-09-24 12:17] PaulRosset commented on #253
Thank you for forking the original repo!

Do also experience a slow response time for the URL `https://restcountries.com/` ?

[2021-09-24 12:23] AntonioChicano commented on #253
Yes. Very slow

[2021-09-24 13:28] MrSimh commented on #252
hello

unfortunatly v2 and v3 are not compatible
even flags links are unreachable, so its unfortunate (i have saved the result and put the json in local but flags are off)

And if i take and recode for the v3, i will have to recode again for the v4 ?
I just need a json, up to date, and compatible to work with my little app.
If possible, without creat mine in local with all flags and names. and [fi

[2021-09-24 14:02] heychazza commented on #252
Yeah, I am finding his API is all over the place, best bet is to get the JSON file from the existing repo and reference that for your application.

[2021-09-24 14:09] amatosg commented on #252
Well, they're obviously not compatible, hence the version number in order to avoid braking implementations.

They are reachable

Yes. That will apply to every API you consume.

You can download the json file to your project and consume it

Sorry about that, I will try to make it better. If you have any specifics, I would love to hear them

[2021-09-24 14:17] MrSimh commented on #252
yes i will find a way
for flags its ok i found https://restcountries.com/data/afg.svg is ok,i had https://restcountries.eu/data/afg.svg
thx

[2021-09-24 14:22] amatosg commented on #253
you're right. Is taking way too long to respond. I'll take a look at that

[2021-09-24 14:46] absolutecommunications commented on #253
Thank you, amatosg you rock!

[2021-09-24 15:06] amatosg commented on #253
it looks like the CPU was at 100% all the time. Now is under 500ms

[2021-09-25 09:49] #239 closed

[2021-09-25 09:50] #238 closed

[2021-09-25 09:59] #115 closed

[2021-09-25 15:05] #246 closed

[2021-09-25 15:08] #231 closed

[2021-09-25 15:10] #225 closed

[2021-09-25 15:12] #214 closed

[2021-09-25 16:37] ePascalC commented on #211
Hi, the list is ordered by codes like cca3 or other. You need to order in the list in your own programming language based on the fields you want to order.

[2021-09-25 16:37] #211 closed

[2021-09-25 16:47] amatosg commented on #252
@heychazza Hi Charlie, what do you mean with *is all over the place*?

[2021-09-26 13:38] ePascalC commented on #222
Modified. Thanks.

[2021-09-26 13:38] #222 closed

[2021-09-26 13:39] ePascalC commented on #235
Fixed. Thanks.

[2021-09-26 13:39] #235 closed

[2021-09-26 13:40] ePascalC commented on #240
Holy See updated to Vatican City and also the translation in French.

[2021-09-26 13:40] #240 closed

[2021-09-26 14:18] ePascalC commented on #200
#255 merged with 2020 data

[2021-09-26 14:18] #200 closed

[2021-09-26 14:19] ePascalC commented on #174
#255 merged with 2020 data

[2021-09-26 14:19] #174 closed

[2021-09-26 14:23] ePascalC commented on #188
Updated, thanks.

[2021-09-26 14:23] #188 closed

[2021-09-26 14:27] ePascalC commented on #230
Vietnam updated, thanks.

[2021-09-26 14:27] #230 closed

[2021-09-26 14:28] ePascalC commented on #132
Fixed, thanks.

[2021-09-26 14:28] #132 closed

[2021-09-26 14:29] ePascalC commented on #244
Fixed in v2

[2021-09-26 14:29] #244 closed

[2021-09-26 15:26] ePascalC commented on #131
Added with https://github.com/apilayer/restcountries/pull/256

[2021-09-26 15:26] #131 closed

[2021-09-26 16:14] ePascalC commented on #187
This API is following the UN divisions, see https://en.wikipedia.org/wiki/Subregion#Europe
So it seems correct for Austria and Czech Republic like it is.

[2021-09-26 16:14] #187 closed

[2021-09-26 16:29] #118 closed

[2021-09-26 16:29] ePascalC commented on #118
Fixed. Thanks.

[2021-09-26 16:34] #209 closed

[2021-09-26 16:34] ePascalC commented on #209
Fixed, thanks.

[2021-09-26 16:36] #198 closed

[2021-09-26 18:33] ePascalC commented on #251
Message from apilayer support: We no longer support restcountries.eu; however, we do offer a free tier of a similar API on countrylayer.com. See https://countrylayer.com/documentation/

[2021-09-26 18:33] #251 closed

[2021-09-26 18:37] ePascalC commented on #252
Message from apilayer support: We no longer support restcountries.eu; however, we do offer a free tier of a similar API on countrylayer.com. See https://countrylayer.com/documentation/

[2021-09-26 18:37] #252 closed

[2021-09-26 20:31] ePascalC commented on #253
Message from apilayer support: We no longer support restcountries.eu; however, we do offer a free tier of a similar API on countrylayer.com. See https://countrylayer.com/documentation/

[2021-09-26 20:35] #221 closed

[2021-09-26 20:36] #193 closed

[2021-09-26 20:38] #159 closed

[2021-09-26 20:39] ePascalC commented on #152
Was fixed in an earlier commit

[2021-09-26 20:39] #152 closed

[2021-09-27 02:45] maPer77 commented on #253
Does anyone know since which day restcountries.eu is down?
I would like to know how many days my app has been broken...  :disappointed:

[2021-09-27 07:14] ePascalC commented on #253
@maPer77 the first issue raised here was https://github.com/apilayer/restcountries/issues/250, so consider issues from that date.

[2021-09-27 07:18] PaulRosset commented on #253
The Free tier fromm count

[2021-09-27 10:15] #116 closed

[2021-09-27 10:15] #186 closed

[2021-09-27 10:30] #117 closed

[2021-09-27 10:30] #178 closed

[2021-09-27 10:30] #199 closed

[2021-09-27 10:30] #245 closed

[2021-09-27 11:43] #184 closed

[2021-09-27 11:53] #149 closed

[2021-09-27 12:00] #125 closed

[2021-09-27 16:13] #96 closed

[2021-09-27 16:15] #78 closed

[2021-09-28 09:10] chrismwalker-portfolio commented on #253
@amatosg What has happened to v2 of the API, for example [?](https://restcountries.com/v2/alpha/col). I updated my code to accommodate 'subregion' becoming 'region', and for 'flags' now being an array containing both SVG and PNG images, but today I notice v2 has reverted back to the old format response - just a single SVG flag, and 'subregion' is back again. Is this an intentional change, and will

[2021-09-28 09:28] #249 closed

[2021-09-28 09:47] #237 closed

[2021-09-28 10:19] K2ouMais commented on #253
This API is not for free anymore. To be honest it is horrible now.

The documentation shows fields that arent there anymore.

Documentation:
![Countrylayer_Documentation](https://user-images.githubusercontent.com/52510455/135069000-1dbe5f30-1111-4a7d-8b22-5e6b22304ecf.png)

API Response:
![Countrylayer_Response](https://user-images.githubusercontent.com/52510455/135069062-ee9a2b21-f590-4a4b-afb6-a

[2021-09-28 11:56] #226 closed

[2021-09-28 12:36] #141 closed

[2021-09-28 12:38] #215 closed

[2021-09-28 12:39] #210 closed

[2021-09-28 12:48] ePascalC commented on #203
You were probably looking at the ANG currency acronym and not at the code of the 'country'

[2021-09-28 12:48] #203 closed

[2021-09-28 12:52] ePascalC commented on #185
Fixed, thanks.

[2021-09-28 12:52] #185 closed

[2021-09-28 12:53] #177 closed

[2021-09-28 12:54] ePascalC commented on #175
Fixed, thanks.

[2021-09-28 12:54] #175 closed

[2021-09-28 12:55] #171 closed

[2021-09-28 13:35] #137 closed

[2021-09-28 13:36] ePascalC commented on #122
Fixed, thanks

[2021-09-28 13:36] #122 closed

[2021-09-28 13:44] #123 closed

[2021-09-28 13:45] #104 closed

[2021-09-28 13:48] #90 closed

[2021-09-28 13:50] #83 closed

[2021-09-28 13:51] #79 closed

[2021-09-28 14:49] amatosg commented on #253
@chrismwalker-portfolio yes, the changes was intentions. Sorry about that. The idea is to support the compatibility to this project so migration is *easier*

[2021-09-28 14:51] amatosg commented on #253
this API is dead for everyone

[2021-09-28 14:53] chrismwalker-portfolio commented on #253
No problem, it makes sense to keep it aligned to the original v2 API. Thanks again for all your work!

[2021-09-28 14:54] PeterKassenaar commented on #253
@amatosg Thanks for the new fork/repo. Donated.

[2021-09-28 14:57] amatosg commented on #253
I you have any issues, please report them [here](https://gitlab.com/amatos/rest-countries/-/issues)

[2021-09-28 17:53] #72 closed

[2021-09-28 20:40] ePascalC commented on #223
Not all countries have an IOC code, so it's normal that some are empty: https://en.wikipedia.org/wiki/List_of_IOC_country_codes

[2021-09-28 20:40] #223 closed

[2021-09-28 20:46] #216 closed

[2021-09-28 20:52] #202 closed

[2021-09-28 20:57] ePascalC commented on #191
Fixed in https://github.com/apilayer/restcountries/pull/268

[2021-09-28 20:57] #191 closed

[2021-09-28 21:05] ePascalC commented on #179
UTC+02 is summer time, only 'normal' times should be mentioned.

[2021-09-28 21:06] #179 closed

[2021-09-29 06:03] #167 closed

[2021-09-29 06:12] ePascalC commented on #129
See https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_continent#Oceania

[2021-09-29 06:51] ePascalC commented on #111
As per UN region/subregion, Mexico is in Central America. Please note that this categorization is not the same as Continents.
https://unstats.un.org/unsd/methodology/m49/#geo-regions

[2021-09-29 06:51] #111 closed

[2021-09-29 06:51] ePascalC commented on #150
As per UN region/subregion, Mexico is in Central America. Please note that this categorization is not the same as Continents.
https://unstats.un.org/unsd/methodology/m49/#geo-regions

[2021-09-29 06:51] #150 closed

[2021-09-29 06:58] #156 closed

[2021-09-29 12:17] #133 closed

[2021-09-29 12:23] #119 closed

[2021-09-29 12:29] #112 closed

[2021-09-29 12:36] ePascalC commented on #103
Closing as #109 gives additional info

[2021-09-29 12:36] #103 closed

[2021-09-29 12:37] #94 closed

[2021-09-29 12:40] #84 closed

[2021-09-29 12:41] #82 closed

[2021-09-29 12:41] #77 closed

[2021-09-29 12:43] #70 closed

[2021-09-29 12:46] #74 closed

[2021-09-29 12:48] ePascalC commented on #248
Duplicate of #217

[2021-09-29 12:48] #248 closed

[2021-09-29 14:39] ePascalC commented on #217
Fixed.

[2021-09-29 14:39] #217 closed

[2021-09-29 14:40] #189 closed

[2021-09-29 14:43] #158 closed

[2021-09-29 15:00] ePascalC commented on #134
Implemented

[2021-09-29 15:00] #134 closed

[2021-09-29 15:06] ePascalC commented on #109
Correct flags uploaded

[2021-09-29 15:06] #109 closed

[2021-09-29 15:08] #100 closed

[2021-09-29 15:09] #218 closed

[2021-09-29 15:16] #120 closed

[2021-09-30 20:58] anoop4real commented on #253
OMG Will the API come back?...seem to be certificate issue

[2021-09-30 21:20] amatosg commented on #253
No, but they offer a free tier where you can make 100 requests per month

[2021-10-10 16:20] ePascalC commented on #140
@Leon99 https://flagpedia.net/australia/download/api has lots of different sizes and a great CDN network if you look for other sizes.

[2021-10-10 16:20] #140 closed

[2021-10-10 16:20] #162 closed

[2021-10-10 16:24] ePascalC commented on #170
Switched to UNK

[2021-10-10 16:25] #107 closed

[2021-10-18 08:09] rwieruch commented on #253
@amatosg the website is down. Is there anything that we can to help?

[2021-10-18 11:56] tricipitinus commented on #253
oh noes! we were actually hoping this would be the more stable option? Any word on what's the cause and how long it will take?
Why doesn't the UN offer this service anyway?

[2021-10-18 12:19] chrismwalker-portfolio commented on #253
@amatosg I've raised it [here](https://gitlab.com/amatos/rest-countries/-/issues/79) as well. Thanks!

[2021-10-18 13:19] weilinzung commented on #253
v3.1 is down now...

[2021-10-18 13:57] ePascalC commented on #253
@weilinzung @tricipitinus @rwieruch, if you have an issue with that website, please create an issue on the dedicated issue log like @chrismwalker-portfolio did on GitLab https://gitlab.com/amatos/rest-countries/-/issues or eventually on the mirror on GitHub https://github.com/amatosg/restcountries/issues
Thanks.

[2021-11-21 10:35] NizarBerjawi commented on #253
If you're looking for a substitute API check out: [https://placesapi.dev/](https://placesapi.dev/)

[2022-01-29 05:18] gobinda-prasad-paudel commented on #253
Bro , after doing some search on internet I have found a result . The alternative or same of https://restcountries.eu/rest/v2/all is https://restcountries.com/v2/all

[2022-09-22 11:15] metecan opened #283 "Changing Turkey to Türkiye"
Could you change Turkey to Türkiye?

[2022-10-18 07:08] chrisbartoloburlo opened #284 "Some requests return a list with the value null inside"
This happens for both v1 and v2:

When sending a request for a country via a non-existent alpha code we get `[null]`, rather than just the empty list `[]`.
[code]

[2022-10-27 04:52] amatosg commented on #284
this project is now dead :( as such, I forked it [here](https://gitlab.com/amatos/rest-countries)

[2022-11-21 11:24] fabiosoft commented on #54
Did you completed this feature?

[2022-11-22 21:14] DamianMalik opened #286 "Country name "Luxemburg" contains a comma symbol in official name"
There is a character error in "official"-name TAG:
https://restcountries.com/v3.1/alpha/lu

"0" --> "translations" --> "deu" --> "official"
The country name contains a comma symbol: